.tac {
	text-align: center;
}
.tar {
	text-align: right;
}

.red {
	color: $color-red;
}

.green {
	color: $color-green;
}

.orange {
	color: $color-orange;
}

.gray {
	color: #d2d6de;
}

.cust-validator {
    position: absolute;
    right: 15px;
    top: 5px;
}
