<div class="profile">
    <div class="profile-card">
        <h2>完善讲师资料</h2>
        <div class="profile-picture" ui-sref=".imgupload" ui-sref-opts="{location:false}">
            <div>
                <img ng-src="{{data.header_url}}" data-img="{{data.header_id}}" width="100%" height="100%">
            </div>
            <div class="img-tips" ng-class="data.header_url==''?'tips-show':''">
                <div class="tips">
                    <div class="tips-icon"></div>
                    <span ng-bind="data.header_url==''?'点击上传头像':'点击更换头像'"></span>
                </div>
            </div>
        </div>
        <div class="profile-item">
            <label class="caption"><span class="red">*</span>姓名</label>
            <div class="pull-left">
                <input type="text" class="form-control" ng-model="data.name" ng-disabled="form_status.disabled" maxlength="64"  placeholder="姓名" />
            </div>
        </div>
        <div class="profile-item">
            <label class="caption"><span class="red">*</span>性别</label>
            <div class="pull-left gender">
                <span class="mr15">
                    <input type="radio" name="gender" value="1" ng-model="data.sex"  ng-disabled="form_status.disabled" id="male" />
                    <label for="male">男<label for="male" class="male pl15"></label></label>
                </span>
                <span>
                    <input type="radio" name="gender" value="0" ng-model="data.sex"  ng-disabled="form_status.disabled" id="female"/>
                    <label for="female">女<label for="female" class="female pl15" ></label></label>
                </span>
            </div>
        </div>
        <div class="profile-item mb55">
            <label class="caption"><span class="red">*</span>简介</label>
            <div class="pull-left">
                <textarea  class="form-control" ng-model="data.info" maxlength="500" ng-disabled="form_status.disabled" placeholder="简单描述您擅长的领域，你的经验等信息，让更多的人了解您"></textarea>
            </div>
        </div>

        <span class="msg-wrap n-error" ng-if="form_status.msg.length" >
            <span class="n-icon"></span>
            <span class="n-msg">{{form_status.msg}}</span>
        </span>
        <div class="profile-footer">
            <button type="button" class="btn btn-primary btn-login w84" ng-click="done()"  ng-disabled="form_status.disabled" >
                {{form_status.btn_text}}
            </button>
        </div>
    </div>
</div>
<div ui-view="imgupload"></div>
