<section class="content-header">
    <h1>
        职位设置
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a class="active">职位设置</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="职位名称">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>名称</th>
                        <th>说明</th>
                        <th class="opt-col">操作</th>
                    </tr>
                    <tr ng-repeat="item in data">
                        <td ng-bind="($index+1)+'.'"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.description"></td>
                        <td class="opt-col">
                            <a class="fa fa-pencil green" ui-sref=".edit({id: {{item.id}}})" ui-sref-opts="{location:false}" title="修改"></a>
                            <a class="fa fa-trash-o red" title="删除" ng-click="delete(item.id)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <a  ui-sref=".add" ui-sref-opts="{location:false}" class="btn btn-sm btn-info btn-flat pull-left">新增职位</a>
        </div>
    </div>
</section>
<div ui-view="add"></div>
