<div class="price box">
    <div class="box-header">
        <div class="title">售卖价格</div>
    </div>
    <div class="box-body">
        <div class="row" ng-if="data.price.type==='free'">免费</div>
        <div class="charge" ng-if="data.price.type==='charge'">
            <div class="row">
                <span class="name">零售单价</span><span class="orange">￥{{data.price.unit_price}}</span>/人
            </div>
            <div class="row">
                <span class="name">启用买断</span><span class="orange">￥{{data.price.buyout_price}}</span>
            </div>
            <div class="row clearfix">
                <span class="name pull-left">启用团购</span>
                <table>
                    <tr>
                        <th ng-repeat="purchase in data.price.group_purchase">
                            {{purchase.price}}
                        </th>
                    </tr>
                    <tr>
                        <td ng-repeat="purchase in data.price.group_purchase">
                            {{purchase.gte}}{{purchase.lte? '~'+purchase.lte+'人':'人以上'}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
