<section class="content-header">
  <h1>请假单</h1>
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li class="active">请假单</li>
  </ol>
</section>
<section class="content">
  <form class="form-horizontal" id="leave_form">
    <div class="box box-info">
      <div class="box-body table-responsive no-padding">
        <table>
          <tr>
            <td>
              <table class="info">
                <tr>
                  <td class="h">所属部门：</td>
                  <td class="v" ng-bind="user.department"></td>
                  <td class="l-3">申请人：</td>
                  <td class="v" ng-bind="user.name"></td>
                </tr>
                <tr>
                  <td class="h">岗位/职务：</td>
                  <td class="v" ng-bind="user.position"></td>
                  <td class="h">填表日期：</td>
                  <td class="v" ng-bind="format(data.date_created, 'YYYY-MM-DD HH:mm')"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="detail">
                <tr>
                  <td class="h">
                    类别<span class="required">*</span>
                  </td>
                  <td>
                    <div id="divKQType">
                      <input type="radio" name="chksKCode" id="chksKCode0" value="11" ng-model="data.type" onclick="return false">
                      <label for="chksKCode0">病假</label>
                      <input type="radio" name="chksKCode" id="chksKCode1" value="12" ng-model="data.type" onclick="return false">
                      <label for="chksKCode1">事假</label>
                      <input type="radio" name="chksKCode" id="chksKCode2" value="13" ng-model="data.type" onclick="return false">
                      <label for="chksKCode2">婚假</label>
                      <input type="radio" name="chksKCode" id="chksKCode3" value="14" ng-model="data.type" onclick="return false">
                      <label for="chksKCode3">丧假</label>
                      <input type="radio" name="chksKCode" id="chksKCode4" value="15" ng-model="data.type" onclick="return false">
                      <label for="chksKCode4">产假</label>
                      <input type="radio" name="chksKCode" id="chksKCode5" value="16" ng-model="data.type" onclick="return false">
                      <label for="chksKCode5">陪产假</label>
                      <input type="radio" name="chksKCode" id="chksKCode6" value="20" ng-model="data.type" onclick="return false">
                      <label for="chksKCode5">年假</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    请假期限<span class="required">*</span>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td style="width:150px;" ng-bind="format(data.date_start, 'YYYY-MM-DD HH:mm')">
                        </td>
                        <td style="text-align: center;width:30px;">
                          至
                        </td>
                        <td style="width:150px;" ng-bind="format(data.date_end, 'YYYY-MM-DD HH:mm')">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: right;padding: 0;font-size: 10px;" ng-bind="'共计 '+diffDay.days+ ' 天 ' +diffDay.hours +' 小时 '+ diffDay.minutes +' 分'">
                          共计 0 天 0 小时 0 分
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    事由<span class="required">*</span>
                  </td>
                  <td ng-bind="data.reason" style="min-height: 50px;">
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    工作交接<span class="required">*</span>
                  </td>
                  <td ng-bind="data.memo" style="min-height: 50px;">
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    交接人<span class="required">*</span>
                  </td>
                  <td ng-bind="data.receiver_name">
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    联系电话<span class="required">*</span>
                  </td>
                  <td ng-bind="data.tel">
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    审批人<span class="required">*</span>
                  </td>
                  <td ng-bind="data.auditor_name">
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    单据状态
                  </td>
                  <td ng-bind="getStatus(data.status)">
                  </td>
                </tr>
                <tr>
                  <td class="h">
                    审批时间
                  </td>
                  <td style="width:150px;" ng-bind="format(data.date_review, 'YYYY-MM-DD HH:mm')">
                  </td>
                </tr>
                <tr ng-if="data.status==2">
                  <td class="h">
                    驳回理由
                  </td>
                  <td style="width:150px;" ng-bind="data.audit_memo">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="box-footer clearfix" style="text-align: center; border: none;" ng-if="data.status==0">
        <button type="button" ng-click="abandon()" class="btn btn-info" style="min-width: 120px;">作 废</button>
      </div>
    </div>
  </form>
</section>
