<div class="box-header pb15 clearfix">
    <div class="title pl10 pull-left">基本信息</div>
</div>
<div class="form-info" ng-init="info_init()">
    <div class="row">
        <label><span class="red">*</span>系列课程名称</label>
        <div class="pull-left">
            <input type="text" class="form-control" name="name" ng-model="data.name" ng-disabled="!editable" placeholder="最长不超过15个字" data-rule="required; length[~15];" />
        </div>
    </div>
    <div class="row">
        <label><span class="red">*</span>系列课程封面</label>
        <div class="pull-left">
            <div class="preview" ui-sref=".imgupload" ui-sref-opts="{location:false}">
                <div>
                    <img ng-src="{{data.cover_url}}" data-img="{{data.cover_id}}" width="100%" height="100%">
                </div>
                <div class="img-tips" ng-class="data.cover_url==''?'tips-show':''" ng-if="editable">
                    <div class="tips">
                        <div class="tips-icon"></div>
                        <span>点击上传课程封面</span>
                    </div>
                </div>

                <!-- 验证用 -->
                <div  class="cover-valid">
                    <input type="text" name="cover_url" ng-model="data.cover_url" data-rule="required;" readonly="true">
                </div>
            </div>
            <div class="desc">
                尺寸说明：220*124px，图片不能大于100M
            </div>
        </div>
    </div>

    <div class="row">
        <label><span class="red">*</span>系列课程对象</label>
        <div class="pull-left">
            <ol class="rangecrumb pull-left">
                <li data-industry="{{data.attribute.industry_id}}" ng-if="data.attribute.industry_name">{{data.attribute.industry_name}}</li>
                <li data-post="{{data.attribute.post_id}}" ng-if="data.attribute.post_name">{{data.attribute.post_name}}</li>
                <li data-experience="{{data.attribute.experience_id}}" ng-if="data.attribute.experience_name">{{data.attribute.experience_name}}</li>
            </ol>
            <a class="pull-left" ui-sref=".range" ui-sref-opts="{location:false}"  ng-if="editable">点击选择对象</i></a>
            <!-- 验证用 -->
            <input type="text" class="range-ids" name="range" ng-model="range_ids" data-rule="required;" readonly="true">
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label w96">关键字</label>
        <div class="pull-left">
            <select id="tagsSelect" ui-select2 multiple name="data.tag_ids" ng-model="tag_ids" ng-disabled="!editable"></select>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label"><span class="red">*</span>系列课程简介</label>
        <div class="pull-left">
            <textarea type="text" class="form-control" ng-model="data.info" ng-disabled="!editable" name="info" placeholder="请提供简介内容，方便大家了解此课程内容" data-rule="required;"></textarea>
        </div>
    </div>
</div>
<div ui-view="range"></div>
<div ui-view="imgupload"></div>
