<section class="content-header">
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li><a ui-sref="abroad">列表</a></li>
    <li class="active">查看</li>
  </ol>
</section>
<section class="content">
  <form class="form-horizontal view-form" id="abroad_form">
    <div class="detail-view-header-wrapper">
      <div class="box-footer detail-view-header" ui-scrollpoint ui-scrollpoint-enabled="true" ui-scrollpoint-class="fixed">
        <button type="button" class="btn btn-info" ui-sref="abroad_edit({id: id})" ng-if="data.status == 0 || data.review_status == 0" ui-sref-opts="{reload:true}">修改</button>
        <button type="button" class="btn btn-primary" ng-click="submitAudit()" ng-if="data.status == 0 || data.review_status == 0">提交审核</button>
        <button type="button" class="btn btn-success" ng-click="passAudit()" ng-if="data.status==1 && opers.indexOf(3) > -1">财务审核通过</button>
        <button type="button" class="btn btn-danger" ng-click="refuseAudit()" ng-if="data.status==1 && opers.indexOf(3) > -1">财务审核驳回</button>
        <button type="button" class="btn btn-success" ng-click="passAudit()" ng-if="data.status > 1 && data.status < 3 && opers.indexOf(4) > -1">提交审核通过</button>
        <button type="button" class="btn btn-danger" ng-click="refuseAudit()" ng-if="data.status > 1 && data.status < 3 && opers.indexOf(4) > -1">提交审核驳回</button>
        <button type="button" class="btn btn-success" ng-click="progress('p')" ng-if="data.status >= 3">进度反馈</button>
        <button type="button" class="btn btn-success" ng-click="progress('w')" ng-if="data.status >= 3">完善资料</button>
        <button type="button" class="btn btn-info" ui-sref="abroad_timeline({id: data.id, name: 'reg_abroad', code: data.code, source: 'view'})"><span class="fa fa-clock-o"></span>日志</button>
        <a  ng-if="data.is_annual != 1" href="/print.html?m=abroad&id={{id}}" class="btn btn-info" target="_blank">打印</a>
        <span>状态: </span>
        <span class="tooltip-author" ng-if="data.status != 4" ng-bind="getOrderStatus() + ' | ' + getReviewStatus()" ng-attr-title="{{getTitle(data)}}" style="cursor: default;"></span>
        <span ng-if="data.status == 4" ng-bind="'已完成 | ' + format(data.date_finish, 'YYYY-MM-DD')"></span>
      </div>
    </div>
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">客户基本信息</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">客户名称</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.customer_name"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.industry.length > 0">
          <label class="col-sm-2 control-label">行业类别</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.industry"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.province.length > 0">
          <label class="col-sm-2 control-label">所属省</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.province"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.city.length > 0">
          <label class="col-sm-2 control-label">所属市</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.city"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.county.length > 0">
          <label class="col-sm-2 control-label">所属县</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.county"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.customer_address.length > 0">
          <label class="col-sm-2 control-label">地址</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.customer_address"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.contact.length > 0">
          <label class="col-sm-2 control-label">联系人</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.contact"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.mobile.length > 0">
          <label class="col-sm-2 control-label">手机</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.mobile"></span>
          </div>
        </div>
        <div class="form-group" ng-if="data.tel.length > 0">
          <label class="col-sm-2 control-label">座机</label>
          <div class="col-sm-8">
            <span class="form-span" ng-bind="data.tel"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li ng-class="{'active': activeTab == 0}"><a data-toggle="tab"  ng-click="onTab(0)">注册信息</a></li>
        <li ng-class="{'active': activeTab == 1}"><a data-toggle="tab" ng-click="onTab(1)">公司股东</a></li>
        <li ng-class="{'active': activeTab == 2}"><a data-toggle="tab" ng-click="onTab(2)">公司董事</a></li>
        <li ng-class="{'active': activeTab == 3}"><a data-toggle="tab" ng-click="onTab(3)">开票信息</a></li>
        <li ng-class="{'active': activeTab == 4}"><a data-toggle="tab" ng-click="onTab(4)">其他</a></li>
        <li ng-class="{'active': activeTab == 5}"><a data-toggle="tab" ng-click="onTab(5)">收款记录</a></li>
        <li ng-class="{'active': activeTab == 6}"><a data-toggle="tab" ng-click="onTab(6)">附件</a></li>
      </ul>
      <div class="tab-content" style="padding-bottom: 100px;">
        <!-- 注册信息 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 0}">
          <div class="form-group">
            <label class="col-sm-2 control-label">档案号</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.code"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">是否转秘书</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.is_annual==1?'是':'否'"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司中文名称</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.name_cn"></span>
              <i
                class="fa fa-history name_cn"
                ng-show="historyRecord.name_cn.length > 0"
                ng-attr-title="{{getHistoryTitle('name_cn')}}"
              ></i>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司英文名称</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.name_en"></span>
              <i class="fa fa-history name_en" ng-show="historyRecord.name_en.length > 0" ng-attr-title="{{getHistoryTitle('name_en')}}"></i>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司注册地区</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.region"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.director.length">
            <label class="col-sm-2 control-label">公司董事</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.director"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.shareholder.length">
            <label class="col-sm-2 control-label">公司股东</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.shareholder"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司成立日期</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="format(data.date_setup, 'YYYY-MM-DD')"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司注册编号</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.reg_no"></span>
              <i class="fa fa-history reg_no" ng-show="historyRecord.reg_no.length > 0" ng-attr-title="{{getHistoryTitle('reg_no')}}"></i>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司注册地址</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.address"></span>
              <i class="fa fa-history address" ng-show="historyRecord.address.length > 0" ng-attr-title="{{getHistoryTitle('address')}}"></i>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">是否开户</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="(data.is_open_bank==0) ? '否' : '是'"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.bank_name.length > 0">
            <label class="col-sm-2 control-label">开户行</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.bank_name"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.holder.length > 0">
            <label class="col-sm-2 control-label">开户人</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.holder"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.account.length > 0">
            <label class="col-sm-2 control-label">银行账号</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.account"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">成交日期</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="format(data.date_transaction, 'YYYY-MM-DD')"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.is_annual != 1">
            <label class="col-sm-2 control-label">成交金额</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.amount_transaction"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.is_annual != 1">
            <label class="col-sm-2 control-label">交易币别</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.currency"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.is_annual != 1">
            <label class="col-sm-2 control-label">汇率</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.rate"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">其他事项</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="description" ng-model="data.description" readonly style="background:#fff;"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">注册进度</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="!!data.progress? (' ' + data.progress) : ' 无进度信息'"></span>
            </div>
          </div>
        </div>
        <!-- 公司股东 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 1}">
          <table class="table table-hover" ng-if="!holderViewHistory">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证号码</th>
                <th>股份比例(%)</th>
              </tr>
              <tr ng-repeat="item in data.shareholderList">
                <td ng-bind="($index+1)+'.'"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.gender"></td>
                <td ng-bind="item.cardNo"></td>
                <td ng-bind="item.takes"></td>
                <!-- <td ng-bind="getChangeName(item.changed_type)"></td> -->
              </tr>
            </tbody>
          </table>
          <table class="table table-hover" ng-if="holderViewHistory">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证号码</th>
                <th>股份比例(%)</th>
                <th>变更类型</th>
                <th>变更日期</th>
              </tr>
              <tr ng-repeat="item in historyShareholder" ng-class="{'exit-line': item.changed_type == 'exit'}">
                <td ng-bind="($index+1)+'.'"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.gender"></td>
                <td ng-bind="item.cardNo"></td>
                <td ng-bind="item.takes"></td>
                <td ng-bind="getChangeName(item.changed_type)"></td>
                <td ng-bind="format(item.date_changed, 'YYYY-MM-DD')"></td>
              </tr>
            </tbody>
          </table>
          <div ng-if="holderViewHistory && !historyShareholder.length" style="margin:10px;">
            无历史变更记录
          </div>
          <div class="box-footer clearfix">
            <button type="button" class="btn btn-info" ng-bind="holderViewHistory ? '查看当前股东' : '查看变更记录'" ng-click="getHolderHistory('股东')">查看变更记录</button>
          </div>
        </div>
        <!-- 公司董事 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 2}">
          <table class="table table-hover" ng-if="!directoryViewHistory">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证号码</th>
              </tr>
              <tr ng-repeat="item in data.directorList">
                <td ng-bind="($index+1)+'.'"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.gender"></td>
                <td ng-bind="item.cardNo"></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-hover" ng-if="directoryViewHistory">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证号码</th>
                <th>变更类型</th>
                <th>变更日期</th>
              </tr>
              <tr ng-repeat="item in historyDirectory" ng-class="{'exit-line': item.changed_type == 'exit'}">
                <td ng-bind="($index+1)+'.'"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.gender"></td>
                <td ng-bind="item.cardNo"></td>
                <td ng-bind="getChangeName(item.changed_type)"></td>
                <td ng-bind="format(item.date_changed, 'YYYY-MM-DD')"></td>
              </tr>
            </tbody>
          </table>
          <div ng-if="directoryViewHistory && !historyDirectory.length" style="margin:10px;">
            无历史变更记录
          </div>
          <div class="box-footer clearfix">
            <button type="button" class="btn btn-info" ng-bind="directoryViewHistory ? '查看当前董事' : '查看变更记录'" ng-click="getHolderHistory('董事')">查看变更记录</button>
          </div>
        </div>
        <!-- 开票信息 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 3}">
          <div class="form-group" ng-if="data.invoice_name.length > 0">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.invoice_name"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.invoice_tax.length > 0">
            <label class="col-sm-2 control-label">纳税人识别号</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.invoice_tax"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.invoice_address.length > 0">
            <label class="col-sm-2 control-label">地址</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.invoice_address"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.invoice_tel.length > 0">
            <label class="col-sm-2 control-label">电话</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.invoice_tel"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.invoice_bank.length > 0">
            <label class="col-sm-2 control-label">开户行</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.invoice_bank"></span>
            </div>
          </div>
          <div class="form-group" ng-if="data.invoice_account.length > 0">
            <label class="col-sm-2 control-label">开户行账号</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.invoice_account"></span>
            </div>
          </div>
        </div>
        <!-- 其他 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 4}">
          <div class="form-group">
            <label class="col-sm-2 control-label">业务员</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.salesman"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">助理</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.assistant_name"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">年检客服<span class="required">*</span></label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.waiter_name"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">经理</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="data.manager_name"></span>
            </div>
          </div>
        </div>
        <!-- 收款记录 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 5}">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>付款人</th>
                  <th>收款银行</th>
                  <th>收款账号</th>
                  <th>收款金额</th>
                  <th>收款方式</th>
                  <th>收款时间</th>
                  <th>附件</th>
                  <th>备注</th>
                  <th class="opt-col">操作</th>
                </tr>
                <tr ng-repeat="item in incomes.items">
                  <td ng-bind="($index+1)+'.'"></td>
                  <td ng-bind="item.payer"></td>
                  <td ng-bind="item.bank"></td>
                  <td ng-bind="item.account"></td>
                  <td ng-bind="item.amount"></td>
                  <td ng-bind="item.pay_way"></td>
                  <td ng-bind="format(item.date_pay, 'YYYY-MM-DD')"></td>
                  <td>
                    <a href="{{item.attachment_url}}" target="_blank" ng-if="item.attachment_url.length">
                      <img ng-src="{{item.attachment_url}}" width="22" height="22">
                    </a>
                  </td>
                  <td ng-bind="item.description"></td>
                  <td class="opt-col">
                    <a  ng-if="data.status == 0" class="fa fa-pencil orange" ui-sref=".income_edit({tid: {{item.id}}})" ui-sref-opts="{location:false}" title="修改"></a>
                    <a  ng-if="data.status == 0" href="javascript:;" class="fa fa-trash-o red" ng-click="deleteIncome(item)" title="删除"></a>
                    <a  href="/print.html?m=abroad_line&id={{item.id}}" target="_blank">打印</a>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="summary" colspan="2">
                    <div>
                      <span>交易币别: </span>
                      <span class="num" ng-bind="data.currency"></span>
                    </div>
                    <div>
                      <span>应收款: </span>
                      <span class="num receivable" ng-bind="data.amount_transaction"></span>
                    </div>
                    <div>
                      <span>已收款: </span>
                      <span class="num received" ng-bind="incomes.total"></span>
                    </div>
                    <div>
                      <span>未收款: </span>
                      <span class="num balance" ng-bind="incomes.balance"></span>
                    </div>
                    <div ng-if="data.currency !='人民币'">
                      <span>汇率: </span>
                      <span class="num" ng-bind="data.rate"></span>
                    </div>
                  </td>
                  <td class="summary" colspan="2">
                    <div ng-if="data.currency !='人民币'">
                      <div>
                        <span>本币: </span>
                        <span class="num">人民币</span>
                      </div>
                      <div>
                        <span>应收款: </span>
                        <span class="num receivable" ng-bind="incomes.local_amount"></span>
                      </div>
                      <div>
                        <span>已收款: </span>
                        <span class="num received" ng-bind="incomes.local_total"></span>
                      </div>
                      <div>
                        <span>未收款: </span>
                        <span class="num balance" ng-bind="incomes.local_balance"></span>
                      </div>
                    </div>
                  </td>
                  <td class="summary" colspan="4">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer clearfix">
            <button type="button" class="btn btn-info" ui-sref=".income_add({source_name: 'reg_abroad', customer_id: data.customer_id})" ui-sref-opts="{location:false}">新增</button>
            <button type="button" class="btn btn-info" ng-click="printReceipt('new')">新增收据</button>
            <button type="button" class="btn btn-info" ng-click="printReceipt('print')">打印收据</button>
          </div>
        </div>
        <!-- 附件 -->
        <div class="tab-pane" ng-class="{'active': activeTab == 6}">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>名称</th>
                  <th>附件</th>
                  <th>上传时间</th>
                  <th>备注</th>
                  <th class="opt-col">操作</th>
                </tr>
                <tr ng-repeat="item in attachments">
                  <td ng-bind="($index+1)+'.'"></td>
                  <td ng-bind="item.name"></td>
                  <td>
                    <a href="{{item.attachment_url}}" target="_blank" ng-if="item.attachment_url.length">
                              点击查看
                          </a>
                  </td>
                  <td ng-bind="format(item.date_created, 'YYYY-MM-DD')"></td>
                  <td ng-bind="item.description"></td>
                  <td class="opt-col">
                    <a href="javascript:;" class="fa fa-trash-o red" ng-click="deleteAttachment(item)" title="删除"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer clearfix">
            <button type="button" class="btn btn-info" ui-sref=".attachment({source_name: 'reg_abroad', source_id: data.id})" ui-sref-opts="{location:false}">新增</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<div ui-view="modal"></div>
<div ui-view="progress"></div>
<div ui-view="print"></div>
<div ui-view="attachment"></div>

