<div class="list-view course">
  <div class="list-view-header with-border">
    <ul class="list-view-tabs" id="statusFilter">
      <li class="active"><a href="" ng-click="checkStatus('all', $event)">全部</a></li>
      <li><a href="" ng-click="checkStatus('uncommitted', $event)">未提交({{ custom.uncommitted }})</a></li>
      <li><a href="" ng-click="checkStatus('onshelves', $event)">已上架({{ custom.onshelves }})</a></li>
      <li><a href="" ng-click="checkStatus('offshelves', $event)">已下架({{ custom.offshelves }})</a></li>
      <li><a href="" ng-click="checkStatus('auditing', $event)">审核中({{ custom.auditing }})</a></li>
      <li><a href="" ng-click="checkStatus('notpass', $event)">审核未通过({{ custom.notpass }})</a></li>
    </ul>
    <div class="list-view-tools">
      <a href="" ui-sref="bundle.detail.add" class="btn btn-primary btn-radius">新建系列课程</a>
    </div>
  </div>
  <div class="list-view-body">
    <div class="card-group">
      <div class="card" ng-repeat="item in items">
        <a ui-sref="bundle.detail.view({id: item.id})">
          <img class="card-img-top" ng-src="{{ item.cover_url }}" alt="{{ item.name }}">
          <div class="card-block">
            <h4 class="card-title nowrap">{{ item.name }}</h4>
            <p ng-show="item.price" ng-class="{true: 'text-orange', false: 'text-gray'}[item.status === 'onshelves']" class="card-text">&#165; {{ item.price }}</p>
            <p ng-show="!item.price" class="card-text text-gray">未设置价格</p>
            <p class="card-text clearfix"><small class="text-gray">{{ item.update_time }}</small><small class="pull-right">{{ item.course_count }}门课程</small></p>
          </div>
        </a>
        <p class="card-info" ng-show="noticeStatus.indexOf(item.status) > -1">
          <span class="text-danger pull-left">{{ statusDes[item.status] }}</span><span class="pull-right" ng-show="item.status === 'notpass'" ng-mouseleave="tooltipHide($event)" ng-mouseenter="tooltipShow($event)">平台拒绝理由</span>
        </p>
        <div class="card-tooltip top">
          <div class="card-tooltip-arrow"></div>
          <div class="card-tooltip-inner">{{ item.reject_reason }}</div>
        </div>
        <ul class="card-tools">
          <li class="active">
            <a href="javascript:void(0)" ui-sref="bundle.detail.edit({id: item.id})">
              <i class="icon icon_edit"></i>
              <span class="txt">编辑</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="copy(item.id)">
              <i class="icon icon_copy"></i>
              <span class="txt">复制</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ui-sref="bundle.detail.onShelves({id: item.id})">
              <i class="icon icon_shelves"></i>
              <span class="txt">上架</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" ng-click="del(item.id)">
              <i class="icon icon_trash"></i>
              <span class="txt">删除</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="list-view-footer" ng-show="pages.total_size > 0">
    <nav class="text-right clearfix">
      <div class="jump pull-right">
        <span>共{{ pages.total_page }}页</span><label for="page">到第</label><input type="text" id="page" ng-model="page">页<a href="" class="btn btn-default" ng-click="pageGo()">确定</a>
      </div>
      <ul id="pagination" class="list-view-pagination pull-right" ng-click="pagination($event)">
        <li>
          <a href="" class="previous">&lsaquo;</a>
        </li>
        <li ng-class="{ active: pages.current_index == 1 }"><a ng-href="">1</a></li>
        <li ng-show="start != 2" class="disabled"><a href="">&hellip;</a></li>
        <li ng-repeat="i in pageArr()" ng-class="{ active: pages.current_index === i }"><a href="">{{ i }}</a></li>
        <li ng-show="end != pages.total_page - 1" class="disabled"><a href="">&hellip;</a></li>
        <li ng-show="pages.total_page > 1" ng-class="{ active: pages.current_index == pages.total_page }"><a href="">{{ pages.total_page }}</a></li>
        <li>
          <a href="" class="next">&rsaquo;</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div ui-view="scorm"></div>
