<section class="content-header">
  <h1>参数设定</h1>
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li><a class="active">参数设定</a></li>
  </ol>
</section>
<section class="content">
  <form class="form-horizontal" id="coding_form">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">参数设定</h3>
      </div>
      <div class="box-body">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">专利年检期限</label>
            <div class="col-sm-3">
              <input class="form-control" name="patent_period" ng-model="data.PATENT_PERIOD" data-rule="required; integer[+]; range[1~20]">
            </div>
            <label class="control-label">年</label>
          </div>
          <!-- <div class="form-group">
            <label class="col-sm-2 control-label">商标年检期限</label>
            <div class="col-sm-3">
              <input class="form-control" name="trademark" ng-model="data.TRADEMARK_PERIOD" data-rule="required; integer[+]; range[1~20]">
            </div>
            <label class="control-label">年</label>
          </div> -->
          <div class="form-group">
            <label class="col-sm-2 control-label">讲座限制录入时间</label>
            <div class="col-sm-3">
              <input class="form-control" name="lecture" ng-model="data.LECTURE_PERIOD" data-rule="required; integer[+]; range[1~20]">
            </div>
            <label class="control-label">天</label>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商标提前预警</label>
            <div class="col-sm-3">
              <input class="form-control" name="TRADEMARK_WARN_MONTH" ng-model="data.TRADEMARK_WARN_MONTH" data-rule="required; integer[+]; range[1~20]">
            </div>
            <label class="control-label">月</label>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">境外注册提前预警</label>
            <div class="col-sm-3">
              <input class="form-control" name="ABROAD_WARN_MONTH" ng-model="data.ABROAD_WARN_MONTH" data-rule="required; integer[+]; range[1~6]">
            </div>
            <label class="control-label">月</label>
          </div>

        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">财务审核人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="CW_ID" name="CW_ID" ng-view="CW_ID_NAME" ng-model="data.CW_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">收据会计</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="SJ_ID" name="SJ_ID" ng-view="SJ_ID_NAME" ng-model="data.SJ_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">境外注册提交人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="JW_ID" name="JW_ID" ng-view="JW_ID_NAME" ng-model="data.JW_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">境内注册提交人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="GN_ID" name="GN_ID" ng-view="GN_ID_NAME" ng-model="data.GN_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">境外审计提交人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="JWSJ_ID" name="JWSJ_ID" ng-view="JWSJ_ID_NAME" ng-model="data.JWSJ_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">境内审计提交人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="GNSJ_ID" name="GNSJ_ID" ng-view="GNSJ_ID_NAME" ng-model="data.GNSJ_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商标注册提交人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="SB_ID" name="SB_ID" ng-view="SB_ID_NAME" ng-model="data.SB_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">专利注册提交人</label>
            <div class="col-sm-3">
              <select ui-select2 class="form-control select2" id="ZL_ID" name="ZL_ID" ng-view="ZL_ID_NAME" ng-model="data.ZL_ID" data-rule="required;" url="Member/List" paging="true" style="width: 100%;"></select>
            </div>
          </div>

        </fieldset>
      </div>
    </div>
    <div class="box-footer clearfix">
      <a class="btn btn-sm btn-info btn-flat pull-left" ng-click="save()">保存</a>
    </div>
  </form>
</section>
