<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">图片上传</h3>
      </div>
      <div class="modal-body">
        <img id="cover" alt="">
      </div>
      <div class="modal-footer">
        <div class="btn btn-radius btn-primary img-select" style="position:relative;">选择图片</div>
        <div class="btn btn-radius btn-primary img-upload">上传图片</div>
        <div class="btn btn-radius btn-disable" ng-class="{'btn-primary':hasDate}" ng-click="onConfirm()">确定</div>
      </div>
    </div>
  </div>
</div>
