<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">客户选择</h4>
                <div class="box-tools">
                    <div class="input-group input-group-sm pull-right" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" ng-model="search.name" placeholder="客户名称">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"  ng-click="query()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body table-responsive no-padding">
                <table class="table table-hover" style="width: 1000px;">
                    <tbody>
                        <tr style="border-bottom: 1px solid #f4f4f4;">
                            <th><input type="checkbox" ng-model="isSelectAll" ng-click="selectAll($event)"></th>
                            <th>客户名称</th>
                            <th>类别</th>
                            <!-- <th>业务性质</th> -->
                            <!-- <th>行业类别</th> -->
                            <th>联系人</th>
                            <th>手机</th>
                            <th>座机</th>
                            <!-- <th>邮箱</th> -->
                            <!-- <th>地址</th> -->
                            <th>业务员</th>
                        </tr>
                        <tr ng-repeat="item in data.items">
                            <td width="5%">
                                <input type="checkbox" id="{{item.id}}" name="{{item.name}}" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item)">
                            </td>
                            <td ng-bind="item.customer_name"></td>
                            <td ng-bind="item.status==1? '正式客户' : '预备客户'"></td>
                            <!-- <td ng-bind="item.business_nature"></td> -->
                            <!-- <td ng-bind="item.industry"></td> -->
                            <td ng-bind="item.name"></td>
                            <td ng-bind="item.mobile"></td>
                            <td ng-bind="item.tel"></td>
                            <!-- <td ng-bind="item.email"></td> -->
                            <!-- <td ng-bind="item.address"></td> -->
                            <td ng-bind="item.salesman"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <div pagination page-data="data.page" page-click="go(idx)" style="bottom: 10px;position: absolute;right: 0;"></div>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="^">取消</button>
                <button type="button" class="btn btn-primary pull-left" ng-click="save()">确定</button>

            </div>
        </div>
    </div>
</div>
