<section class="content-header">
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a class="active">正式客户列表</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" ng-model="search.name" placeholder="客户名称">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="query()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th style="width: 90px;">客户编号</th>
                        <th>客户名称</th>
                        <!-- <th>联系人</th> -->
                        <!-- <th>联系电话</th> -->
                        <th>业务员</th>
                        <th>助理</th>
                        <th style="width: 90px;">客户来源</th>
                        <th>介绍人</th>
                        <th style="width: 80px;">订单数</th>
                        <th>创建日期</th>
                        <th class="opt-col">操作</th>
                    </tr>
                    <tr ng-repeat="item in data.items">
                        <td ng-bind="($index+1)+'.'"></td>
                         <td ng-bind="item.code"></td>
                        <td ng-bind="item.name"></td>
                        <!-- <td ng-bind="item.contact"></td> -->
                        <!-- <td ng-bind="item.mobile"></td> -->

                        <td ng-bind="item.salesman"></td>
                        <td ng-bind="item.assistant_name"></td>
                        <td ng-bind="item.source"></td>
                        <td ng-bind="item.source_name"></td>
                        <td ng-bind="item.business_count"></td>
                        <td ng-bind="format(item.date_created, 'YYYY-MM-DD HH:mm')"></td>
                        <td class="opt-col">
                            <a class="fa fa-reply orange"  title="转为意向客户" ng-click="transferBack(item.id)"></a>
                            <a class="fa fa-info-circle" target="_blank" ui-sref="customer_view({id: item.id})" title="详情"></a>
                            <a class="fa fa-pencil orange" ui-sref="customer_edit({id: item.id})" title="修改"></a>
                            <a class="fa fa-clock-o green" ui-sref="customer_timeline({id: item.id})" title="查看日志"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <a ui-sref="customer_add" class="btn btn-sm btn-info btn-flat pull-left">新增客户</a>
            <a class="btn btn-sm btn-info btn-flat pull-left" style="margin-left: 10px;" ng-if="opers.indexOf(6) > -1" ng-click="export($event)">导出</a>
            <div pagination page-data="data.page" page-click="go(idx)"></div>
        </div>
    </div>
</section>
