<section class="content-header">
    <h1>
        注册业务
        <small>境内</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a ui-sref="internal">列表</a></li>
        <li class="active">查看</li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal view-form" id="internal_form">
        <div class="detail-view-header-wrapper">
            <div class="box-footer detail-view-header" ui-scrollpoint ui-scrollpoint-enabled="true" ui-scrollpoint-class="fixed">
                <button type="button" class="btn" ui-sref="internal_edit({id: id})"  ng-if="data.status == 0" ng-class="{'btn-info':data.status == 0}" ng-attr-title="{{data.status > 0 ? '已经提交审核，不能修改' : ''}}" ng-disabled="data.status > 0" ui-sref-opts="{reload:true}">修改</button>
                <button type="button" class="btn btn-primary" ng-click="submitAudit()" ng-if="data.status == 0">提交审核</button>
                <button type="button" class="btn btn-success" ng-click="passAudit()" ng-if="data.status > 0 && data.status < 3">审核通过</button>
                <button type="button" class="btn btn-danger" ng-click="refuseAudit()" ng-if="data.status > 0 && data.status < 3">审核不通过</button>
                <button type="button" class="btn btn-success" ng-click="done()" ng-if="data.status == 3 && data.review_status==1">完成</button>
                <button type="button" class="btn btn-info" ui-sref="internal_timeline({id: data.id, name: 'reg_internal', code: data.code, source: 'view'})" ><span class="fa fa-clock-o"></span>日志</button>
                <span>状态: </span>
                <span ng-if="data.status != 4" ng-bind="getOrderStatus() + ' | ' + getReviewStatus()"></span>
                <span ng-if="data.status == 4" ng-bind="'已完成 | ' + format(data.date_finish, 'YYYY-MM-DD')"></span>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">客户基本信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">档案号</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.code">XM001</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">客户名称</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.customer_name"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.industry.length > 0">
                    <label class="col-sm-2 control-label">行业类别</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.industry"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.province.length > 0">
                    <label class="col-sm-2 control-label">所属省</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.province"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.city.length > 0">
                    <label class="col-sm-2 control-label">所属市</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.city"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.county.length > 0">
                    <label class="col-sm-2 control-label">所属县</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.county"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.customer_address.length > 0">
                    <label class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.customer_address"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.contact.length > 0">
                    <label class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.contact"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.mobile.length > 0">
                    <label class="col-sm-2 control-label">手机</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.mobile"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.tel.length > 0">
                    <label class="col-sm-2 control-label">座机</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.tel"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">注册信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司名称</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.name_cn"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">成立日期</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="format(data.date_setup, 'YYYY-MM-DD')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">统一信用编号</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.reg_no"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">注册地址</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.address"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.director.length > 0">
                    <label class="col-sm-2 control-label">公司法人</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.legal"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.director.length > 0">
                    <label class="col-sm-2 control-label">公司监事</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.director"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.taxpayer.length > 0">
                    <label class="col-sm-2 control-label">纳税人资格</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.taxpayer"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否海关备案</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="(data.is_customs==0) ? '否' : '是'"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.customs_name.length > 0">
                    <label class="col-sm-2 control-label">海关备案英文名称</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.customs_name"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.customs_address.length > 0">
                    <label class="col-sm-2 control-label">海关备案英文地址</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.customs_address"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">成交日期</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="format(data.date_transaction, 'YYYY-MM-DD')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">成交金额</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.amount_transaction"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">币别</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.currency"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否在我司代理记账</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="(data.is_bookkeeping==0) ? '否' : '是'"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.is_bookkeeping == 1">
                    <label class="col-sm-2 control-label">代理记账费用</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.amount_bookkeeping"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.bank_name.length > 0">
                    <label class="col-sm-2 control-label">开户行</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.bank_name"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.holder.length > 0">
                    <label class="col-sm-2 control-label">开户人</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.holder"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.account.length > 0">
                    <label class="col-sm-2 control-label">银行账号</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.account"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">开票信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group" ng-if="data.invoice_name.length > 0">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.invoice_name"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.invoice_tax.length > 0">
                    <label class="col-sm-2 control-label">纳税人识别号</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.invoice_tax"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.invoice_address.length > 0">
                    <label class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.invoice_address"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.invoice_tel.length > 0">
                    <label class="col-sm-2 control-label">电话</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.invoice_tel"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.invoice_bank.length > 0">
                    <label class="col-sm-2 control-label">开户行</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.invoice_bank"></span>
                    </div>
                </div>
                <div class="form-group" ng-if="data.invoice_account.length > 0">
                    <label class="col-sm-2 control-label">开户行账号</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.invoice_account"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">其他信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">业务员</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.salesman"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">年检客服<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.waiter_name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">外勤</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.outworker_name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">经理</label>
                    <div class="col-sm-8">
                        <span class="form-span" ng-bind="data.manager_name"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">收款记录</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>付款人</th>
                            <th>付款账号</th>
                            <th>付款金额</th>
                            <th>付款时间</th>
                            <th>附件</th>
                            <th>备注</th>
                            <th class="opt-col" ng-if="data.status == 0">操作</th>
                        </tr>
                        <tr ng-repeat="item in incomes.items">
                            <td ng-bind="($index+1)+'.'"></td>
                            <td ng-bind="item.payer"></td>
                            <td ng-bind="item.account"></td>
                            <td ng-bind="item.amount"></td>
                            <td ng-bind="format(item.date_pay, 'YYYY-MM-DD')"></td>
                            <td>
                                <a href="{{item.attachment_url}}" target="_blank" ng-if="item.attachment_url.length">
                                    <img ng-src="{{item.attachment_url}}" width="22" height="22">
                                </a>
                            </td>
                            <td ng-bind="item.description"></td>
                            <td class="opt-col" ng-if="data.status == 0">
                                <a class="fa fa-pencil orange" ui-sref=".income_edit({tid: {{item.id}}})" ui-sref-opts="{location:false}" title="修改"></a>
                                <a href="javascript:;" class="fa fa-trash-o red" ng-click="deleteIncome(item)" title="删除"></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="summary" colspan="7">
                                <div>
                                    <span>应收款: </span>
                                    <span class="num receivable" ng-bind="data.amount_transaction"></span>
                                </div>
                                <div>
                                    <span>已收款: </span>
                                    <span class="num received" ng-bind="incomes.total"></span>
                                </div>
                                <div>
                                    <span>未收款: </span>
                                    <span class="num balance" ng-bind="incomes.balance"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix" ng-if="data.status == 0">
                <button type="button" class="btn btn-info" ui-sref=".income_add({source_name: 'reg_internal', customer_id: data.customer_id})" ui-sref-opts="{location:false}" ng-attr-title="{{data.status > 0 ? '已经提交审核，不能再新增' : '新增收款记录'}}" ng-disabled="data.status > 0">新增</button>
            </div>
        </div>
    </form>
</section>
<div ui-view="modal"></div>
