<section class="content-header">
  <h1>请假单</h1>
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li class="active">请假单</li>
  </ol>
</section>
<section class="content">
  <form class="form-horizontal" id="leave_form">
    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td>所属部门:</td>
              <td>某部门</td>
              <td>申请人:</td>
              <td>张三</td>
            </tr>
            <tr>
              <td>岗位/职务:</td>
              <td>软件工程师</td>
              <td>填表日期:</td>
              <td>2016-10-18</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td>
                类别
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                请假期限
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                事由
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                工作交接
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                交接人
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                联系电话
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                审批人
              </td>
              <td>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </form>
</section>
