<section class="content-header">
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li><a class="active">转卖订单列表</a></li>
  </ol>
</section>
<section class="content">
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">查询条件</h3>
      <div class="box-tools">
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" name="title" ng-model="search.title" placeholder="关键字(档案号、订单名称)">
          </div>
        </div>
        <div class="col-md-3">
          <a class="btn btn-sm btn-info btn-flat" ng-click="query()">查询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-danger" style="margin-bottom: 110px;">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 100px">档案号</th>
            <th style="max-width: 100px">名称</th>
            <th style="max-width: 100px">英文</th>
            <th style="max-width: 80px">预售价格</th>
            <th style="max-width: 100px">是否转秘书</th>
            <th style="width:70px;">注册地</th>
            <th style="width: 100px">最近联系日</th>
            <th style="width: 100px">成立时间</th>
            <th style="width: 80px">上次年检</th>
            <th style="width: 110px">转卖后档案号</th>
            <th style="width: 80px">状态</th>
          </tr>
          <tr ng-repeat="item in data.items">
            <td ng-bind="($index+1)+'.'"></td>
            <td ng-bind="item.order_code"></td>
            <td ng-bind="item.order_name" ng-attr-title="{{item.order_name}}"></td>
            <td ng-bind="item.order_name_en" ng-attr-title="{{item.order_name_en}}"></td>
            <td ng-bind="item.resell_price"></td>
            <td ng-bind="item.is_annual == 1 ? '是' : '否'"></td>
            <td ng-bind="item.region"></td>
            <td ng-bind="format(item.date_last, 'YYYY-MM-DD')" ng-attr-title="{{item.title_last}}"></td>
            <td ng-bind="format(item.date_setup, 'YYYY-MM-DD')"></td>
            <td ng-bind="item.annual_year"></td>
            <td ng-bind="item.resell_code"></td>
            <td ng-bind="getOrderStatus(item.order_status)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
