<div class="password">
    <div class="password-box">
        <div class="password-header"><h3>修改密码</h3></div>
        <form class="password-body" id="password">
            <ul class="info">
                <li class="clearfix"><span class="label">旧密码</span><input type="password" name="oldPwd" class="form-control" placeholder="输入您的旧密码" ng-model="password.old_password" data-rule="required;"></li>
                <li class="clearfix"><span class="label">新密码</span><input type="password" name="newPwd" class="form-control" placeholder="输入您的新密码" ng-model="password.new_password" data-rule="required;"></li>
                <li class="clearfix"><span class="label">确认新密码</span><input type="password" name="confirmPwd" class="form-control" placeholder="再次确认您的新密码" data-rule="required;match(newPwd)"></li>
            </ul>
            <div class="tools">
                <button class="btn btn-radius btn-disable" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-radius btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>