<div class="message">
    <div class="message-header">Hi,您共收到了<span>{{data.page.total_size}}</span>条消息，请注意查看</div>
    <div class="message-body">
        <ul>
            <li ng-repeat="item in data.items" ng-class="{'last':$last}">
                <div class="title" ng-class="{'notread':!item.is_read}"><a href="">{{item.biz_name}}</a> <span
                        ng-class="{'pass':item.status==='pass','nopass':item.status!=='pass'}">{{item.status.replace('notpass','未通过').replace('pass','已通过').replace('offshelves','被下架')}}</span>
                </div>
                <div class="reason" ng-if="item.status==='notpass'">未通过理由：{{item.reason}}</div>
                <div class="reason" ng-if="item.status==='offshelves'">被下架理由：{{item.reason}}</div>
                <div class="time">{{item.create_time}}</div>
            </li>
            <li class="no-border" ng-show="!data.items.length">您还未接收到任何消息</li>
        </ul>
    </div>
    <div class="message-footer">
        <nav class="clearfix" ng-show="data.page.total_size">
            <div class="jump pull-right">
                <span>共{{ data.page.total_size }}页</span>
                <label for="page">到第</label><input type="text" id="page" ng-model="goPage">页
                <a href="" class="btn btn-default" ng-click="pageGo()">确定</a>
            </div>
            <ul id="pagination" class="list-view-pagination pull-right" ng-click="pagination($event)">
                <li>
                    <a href="" class="previous">&lsaquo;</a>
                </li>
                <li ng-class="{ active: data.page.current_index == 1 }"><a href="">1</a></li>
                <li ng-show="start != 2" class="disabled"><a href="">&hellip;</a></li>
                <li ng-repeat="i in pageArr()" ng-class="{ active: data.page.current_index === i }"><a href="">{{ i }}</a></li>
                <li ng-show="end != data.page.total_page - 1" class="disabled"><a href="">&hellip;</a></li>
                <li ng-show="data.page.total_page > 1" ng-class="{ active: data.page.current_index == pages.total_page }"><a href="">{{ data.page.total_page }}</a></li>
                <li>
                    <a href="" class="next">&rsaquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
