<section class="content-header">
  <h1>
        我的面板
    </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box" ui-sref="customer" ui-sref-opts="{location:false}" style="cursor: pointer;">
        <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">我的客户</span>
          <span class="info-box-number" ng-bind="banner.customers_count">90</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box" ui-sref="annual_warning" ui-sref-opts="{location:false}" style="cursor: pointer;">
        <span class="info-box-icon bg-red"><i class="fa fa-clock-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">待年检订单</span>
          <span class="info-box-number" ng-bind="banner.annuals_count">0</span>
        </div>
      </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">我的日程</h3>
        </div>
        <div class="box-body" style="min-height: 100px;">
          <div id="calendar">

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">今日工作</h3>
          <!-- <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i>
            </button>
          </div> -->
        </div>
        <div class="box-body">
          <div class="portal-task-blank" ng-if="!todayList.length">
            <div class="ico"></div>
            <p>今日没有工作安排</p>
          </div>
          <ul class="notices-list notice-list-in-box">
            <li class="item" ng-repeat="item in todayList">
              <span class="task-color" style="border: 1px solid {{item.color}};background: {{item.color}};"></span>
              <span class="task-time" ng-bind="item.timeStr"></span>
              <span class="task-title" ng-bind="item.title"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">公告通知</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
          </div>
        </div>
        <div class="box-body">
          <div ng-if="sinpleNotices.total==0">
            暂无数据
          </div>
          <ul class="notices-list notice-list-in-box">
            <li class="item" ng-repeat="notice in sinpleNotices.list">
              <span class="nl_new" ng-if="notice.isNew">NEW</span>
              <a href="javascript:;" class="notice-description" ui-sref="notice_detail({id: {{notice.id}}})" ng-bind="notice.title"></a>
              <span class="nl_time" ng-bind="format(notice.created, 'MM-DD')"></span>
            </li>
          </ul>
        </div>
        <div class="box-footer text-center" ng-if="sinpleNotices.total > 0">
          <a ui-sref="notice_list" class="uppercase">查看更多</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div ui-view="event"></div>
