<section class="content-header">
  <h1>
        我的面板
    </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box" ui-sref="customer" ui-sref-opts="{location:false}" style="cursor: pointer;">
        <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">我的客户</span>
          <span class="info-box-number" ng-bind="banner.customers_count">90</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box" ui-sref="annual_warning" ui-sref-opts="{location:false}" style="cursor: pointer;">
        <span class="info-box-icon bg-red"><i class="fa fa-clock-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">待年检订单</span>
          <span class="info-box-number" ng-bind="banner.annuals_count">0</span>
        </div>
      </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">我最近的客户</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body" style="min-height: 100px;">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>客户编码</th>
                  <th>客户名称</th>
                  <th>联系人</th>
                  <th>电话</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in recently_customers">
                  <td ng-bind="item.code"></td>
                  <td ng-bind="item.name"></td>
                  <td ng-bind="item.contact"></td>
                  <td ng-bind="item.mobile"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-footer clearfix">
          <a class="btn btn-sm btn-default btn-flat pull-right" ui-sref="customer" ui-sref-opts="{location:false}">查看所有客户</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">公告通知</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div ng-if="sinpleNotices.total==0">
            暂无数据
          </div>
          <ul class="notices-list notice-list-in-box">
            <li class="item" ng-repeat="notice in sinpleNotices.list">
              <a href="javascript:;" class="notice-description" ui-sref="notice_detail({id: {{notice.id}}})" ng-bind="notice.title"></a>
            </li>
          </ul>
        </div>
        <div class="box-footer text-center" ng-if="sinpleNotices.total > 0">
          <a ui-sref="notice_list" class="uppercase">查看更多</a>
        </div>
      </div>
    </div>
  </div>
</section>
