<section class="content-header">
  <h1>
        年检业务
    </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li><a ui-sref="annual">年检业务</a></li>
    <li class="active" ng-bind="current_bread"></li>
  </ol>
</section>
<section class="content">
  <form class="form-horizontal" id="annual_form">
    <div class="detail-view-header-wrapper">
      <div class="box-footer detail-view-header" ui-scrollpoint ui-scrollpoint-enabled="true" ui-scrollpoint-class="fixed">
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-info" ng-click="save()">保存</button>
      </div>
    </div>
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">年检信息</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">年检编号<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.code" placeholder="系统自动生成" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">客户编号</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="type" ng-model="data.customer_code" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">客户名称</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="type" ng-model="data.customer_name" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">年检类别</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="order_type_name" ng-model="data.order_type_name" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">订单档案号</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="order_code" ng-model="data.order_code" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">订单名称</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="name_cn" ng-model="data.name_cn" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" ng-bind="getAnnDateName()"></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="name_cn" ng-model="data.date_setup_for_ann" disabled>
          </div>
        </div>
        <div class="form-group" ng-if="data.order_name_en.length > 0">
          <label class="col-sm-2 control-label">英文名</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="name_en" ng-model="data.name_en" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">其他事项</label>
          <div class="col-sm-8">
            <textarea class="form-control" rows="3" name="description" ng-model="data.description" data-rule=" length[~300];"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">成交日期<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control date-input" id="date_transaction" name="date_transaction" ng-model="data.date_transaction" data-rule="required;">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">成交金额<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="amount_transaction" ng-model="data.amount_transaction" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="required;money;">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">交易币别<span class="required">*</span></label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" name="currency" id="currencySelect2" ng-model="data.currency" url="Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="币别" data-rule="required;"></select>
            <span id="currencySelect2-validator" class="select-validator"></span>
          </div>
          <div class="col-sm-2 add-dictionary">
            <a class="fa fa-plus" ui-sref=".dictionary({group: '币别'})" ui-sref-opts="{location:false}" title="添加币别"></a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">汇率<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="rate" ng-model="data.rate" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="required;money;">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">业务员<span class="required">*</span></label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="salesmanSelect2" name="salesman_id" ng-view="salesman" ng-model="data.salesman_id" url="Member/List" paging="true" style="width: 100%;"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">助理</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="assistantSelect2" name="assistant_id" allowclear="true" ng-view="assistant_name" ng-model="data.assistant_id" url=" Member/List" paging="true" style="width: 100%;"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">年检客服<span class="required">*</span></label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="waiterSelect2" name="waiter_id" ng-view="waiter_name" ng-model="data.waiter_id" url=" Member/List" paging="true" style="width: 100%;"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">会计</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="accountantSelect2" name="accountant_id" allowclear="true" ng-view="accountant_name" ng-model="data.accountant_id" url="Member/List" paging="true" style="width: 100%;"></select>
            <span id="accountantSelect2-validator" class="select-validator"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-danger" style="padding-bottom: 60px;">
      <div class="box-header with-border">
        <h3 class="box-title">客户信息</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <a href="javascript:;" class="col-sm-2 control-label" ng-click="showCustomerInfo()" ng-if="customerInfo==null">显示客户信息</a>
        </div>
        <div ng-if="customerInfo != null">
          <div class="form-group mb-0">
            <label class="col-sm-2 control-label">客户名称:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.name"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.industry.length > 0">
            <label class="col-sm-2 control-label">所在省:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.province"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.city.length > 0">
            <label class="col-sm-2 control-label">所在市:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.city"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.county.length > 0">
            <label class="col-sm-2 control-label">所在县:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.county"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.address.length > 0">
            <label class="col-sm-2 control-label">详细地址:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.address"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.contact.length > 0">
            <label class="col-sm-2 control-label">联系人:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.contact"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.mobile.length > 0">
            <label class="col-sm-2 control-label">手机:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.mobile"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.tel.length > 0">
            <label class="col-sm-2 control-label">座机:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.tel"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.fax.length > 0">
            <label class="col-sm-2 control-label">传真:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.fax"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.email.length > 0">
            <label class="col-sm-2 control-label">邮箱:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.email"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.QQ.length > 0">
            <label class="col-sm-2 control-label">QQ:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.QQ"></span>
            </div>
          </div>
          <div class="form-group mb-0" ng-if="customerInfo.wechat.length > 0">
            <label class="col-sm-2 control-label">微信:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.wechat"></span>
            </div>
          </div>
          <div class="form-group mb-0">
            <label class="col-sm-2 control-label">业务员:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.salesman"></span>
            </div>
          </div>
          <div class="form-group mb-0">
            <label class="col-sm-2 control-label">助理:</label>
            <div class="col-sm-8">
              <span class="form-span" ng-bind="customerInfo.assistant_name"></span>
            </div>
          </div>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>联系人</th>
                <th>手机</th>
                <th>座机</th>
                <th>职务</th>
                <th>邮箱</th>
                <th>微信</th>
                <th>QQ</th>
              </tr>
              <tr ng-repeat="item in customerInfo.contactList">
                <td ng-bind="($index+1)+'.'"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.mobile"></td>
                <td ng-bind="item.tel"></td>
                <td ng-bind="item.position"></td>
                <td ng-bind="item.email"></td>
                <td ng-bind="item.wechat"></td>
                <td ng-bind="item.QQ"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</section>
<div ui-view="modal"></div>
