<section class="content-header">
  <!-- <h1>
        注册业务
        <small>境外</small>
    </h1> -->
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li><a class="active">境外注册列表</a></li>
  </ol>
</section>
<section class="content">
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">查询条件</h3>
      <div class="box-tools">
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" name="name" ng-model="search.name" placeholder="关键字(档案号、订单名称)">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" ng-model="search.status">
              <option value="">订单状态</option>
              <option value="4">完成</option>
              <option value="5">转出</option>
              <option value="6">注销</option>
              <option value="7">暂不年检</option>
              <option value="8">待售</option>
              <option value="9">卖出</option>
              <option value="10">买入</option>
              <option value="11">除名</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control select2" name="area" ng-model="search.area">
              <option value="">全部区域</option>
              <option value="XM">厦门</option>
              <option value="QZ">泉州</option>
              <option value="QD">青岛</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <a class="btn btn-sm btn-info btn-flat" ng-click="query()">查询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-danger" style="margin-bottom: 110px;">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th style="width: 10px">#</th>
            <th ng-click="orderBy('code')" class="ordertable">档案号</th>
            <!-- <th style="width:80px;">客户名称</th> -->
            <th ng-click="orderBy('name_cn')" class="ordertable">公司中文名称</th>
            <th ng-click="orderBy('name_en')" class="ordertable">公司英文名称</th>
            <th style="width:80px;">订单状态</th>
            <th style="width:110px;">审核状态</th>
            <th style="width:55px;">转秘书</th>
            <th style="width:100px;">注册进度</th>
            <th ng-click="orderBy('date_created')" class="ordertable">录入时间</th>
            <th ng-click="orderBy('date_setup')" class="ordertable" style="width:80px;">成立日期</th>
            <th style="">最近年检</th>
            <th class="tar" style="width:110px;">成交金额</th>
            <th style="width:80px;">年检</th>
            <th class="opt-col">操作</th>
          </tr>
          <tr ng-repeat="item in data.items">
            <td ng-bind="getIndex($index)"></td>
            <td ng-bind="item.code"></td>
            <td ng-bind="item.name_cn" ng-attr-title="{{item.name_cn}}"></td>
            <td ng-bind="item.name_en" ng-attr-title="{{item.name_en}}"></td>
            <td>
              <span ng-class="{'color-success': (item.status==4 && item.order_status == 0), 'color-warning': (item.order_status != 0)}" ng-bind="getOrderStatus(item.status, item.order_status)"></span>
            </td>
            <td>
              <span ng-class="{'color-danger': (item.review_status==0)}" ng-bind="getReviewStatus(item.status, item.review_status)"></span>
            </td>
            <td ng-bind="item.is_annual==1?'是':'否'"></td>
            <td title="点击可设置进度">
              <a href="javascript:;" class="fa fa-hourglass-half" ng-click="progress(item, 'p')" ng-bind="!!item.progress? (' ' + item.progress) : ' 无进度信息'"></a>
            </td>
            <td ng-bind="format(item.date_created, 'YYYY-MM-DD HH:MM')"></td>
            <td ng-bind="format(item.date_setup, 'YYYY-MM-DD')"></td>
            <td ng-bind="item.annual_year"></td>
            <td class="tar" ng-bind="item.amount_transaction"></td>
            <td>
              <a href="javascript:;" ng-click="goAnnual(item)" ng-bind="getAnnual(item)"></a>
            </td>
            <td class="opt-col">
              <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="fa fa-info-circle" ui-sref="abroad_view({id: item.id})"> 详情</a></li>
                  <li><a href="javascript:;" class="fa fa-hourglass-half" ng-click="progress(item, 'p')"> 进度反馈</a></li>
                  <li><a href="javascript:;" class="fa fa-hourglass-half" ng-click="progress(item, 'w')"> 完善注册资料</a></li>
                  <!-- <li class="divider"></li> -->
                  <!-- <li><a href="javascript:;" class="fa fa-pencil" ng-click="edit(item)"> 修改</a></li> -->
                  <!-- <li><a href="javascript:;" class="fa fa-trash-o" ng-click="delete(item)"> 删除</a></li> -->
                  <li class="divider"></li>
                  <li><a href="javascript:;" class="fa fa-history" ng-click="history(item)"> 变更记录</a></li>
                  <li><a class="fa fa-clock-o" ui-sref="abroad_timeline({id: item.id, name: 'reg_abroad', code: item.code, source: 'list'})"> 操作日志</a></li>
                  <li><a href="javascript:;" class="fa fa-history" ng-click="bank(item)"> 新增开户行</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box-footer clearfix">
      <a ui-sref="abroad_add" class="btn btn-sm btn-info btn-flat pull-left">新增</a>
      <a class="btn btn-sm btn-info btn-flat pull-left" style="margin-left:10px;" ng-if="opers.indexOf(6) > -1" ng-click="export($event)">导出</a>
      <div pagination page-data="data.page" page-click="go(idx)"></div>
    </div>
  </div>
</section>
<div ui-view="progress"></div>
<div ui-view="bank"></div>
