<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^" ui-sref-opts="{location:false}">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" ng-bind="title">添加银行</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="bank_modal_1">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">银行名称<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title" ng-model="data.name" data-rule="required; length[~50];" placeholder="开户行名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">银行账号<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="account" ng-model="data.account" data-rule="required; length[~50];" placeholder="银行账号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">开户人</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="owner" ng-model="data.owner" data-rule="length[~100];" placeholder="开户人名称">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" ui-sref="^" ui-sref-opts="{location:false}">关闭</button>
            </div>
        </div>
    </div>
</div>
