<div class="modal" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title" ng-bind="title">添加进度</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="progress_modal" data-validator-option="{timely:2, theme:'yellow_right'}">
          <div class="form-group">
            <label class="col-sm-2 control-label">完成日期<span class="required">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control date-input" id="date_start" name="date_start" ng-model="progress.date_start" data-rule="required;">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">账期<span class="required">*</span></label>
            <div class="col-sm-4">
              <select id="period_year" class="form-control" name="period_year" ng-model="progress.period_year" data-rule="required;">
                <option value="">选择年份</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
            </div>
            <div class="col-sm-4">
              <select id="period_month" class="form-control" name="period_month" ng-model="progress.period_month" data-rule="required;">
                <option value="">选择月份</option>
                <option value="01">1月</option>
                <option value="02">2月</option>
                <option value="03">3月</option>
                <option value="04">4月</option>
                <option value="05">5月</option>
                <option value="06">6月</option>
                <option value="07">7月</option>
                <option value="08">8月</option>
                <option value="09">9月</option>
                <option value="10">10月</option>
                <option value="11">11月</option>
                <option value="12">12月</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">进度<span class="required">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="title" ng-model="progress.progress" data-rule="required; length[~100];">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">附件</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" name="attachment_url" ng-model="progress.attachment" class="form-control" readonly>
                <span class="input-group-btn">
                  <div type="button" class="btn btn-info btn-flat" id="btnUpload" >{{btnUploadText}}</div>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="^">取消</button>
        <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
      </div>
    </div>
  </div>
</div>
