
$font-family-base: arial, "Microsoft Yahei", "Helvetica Neue", "Hiragino Sans GB", \5b8b\4f53, Helvetica, STHeiTi, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.42857143;
$text-color: #333;
