
$font-family-base: \5b8b\4f53, arial, "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, STHeiTi, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.42857143;
$text-color: #333;
