// header
$header-height: 60px;

/* button */
$button-default-padding: 12px;
$button-default-height: 30px;

/* font-size */
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;


/* border */
$border-default: 1px solid $border-color;

/* line-height */
$lh-default: 36px;
$lh32: 32px;
$lh30: 30px;
$lh28: 28px;
$lh24: 24px;
