<section class="content-header">
    <h1>
        数据字典
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a class="active">数据字典</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-info">
                <div class="box-body table-responsive no-padding">
                    <div id="org-tree" class="ztree"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" ng-bind="group"></h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>名称</th>
                                <th>说明</th>
                                <th class="opt-col">操作</th>
                            </tr>
                            <tr ng-repeat="item in data">
                                <td ng-bind="($index+1)+'.'"></td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.description"></td>
                                <td class="opt-col">
                                    <a class="fa fa-pencil green" ui-sref=".edit({id: {{item.id}}})" ui-sref-opts="{location:false}" title="修改"></a>
                                    <a class="fa fa-trash-o red" title="删除" ng-click="delete(item.id)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <a class="btn btn-sm btn-info btn-flat pull-left" ng-click="add()">新增</a>
                </div>
            </div>
        </div>
    </div>

    <div ui-view="add"></div>
</section>
