<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" ng-bind="title">添加收款</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="income_modal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">付款人<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title" ng-model="income.payer" data-rule="required; length[~100];">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">付款账号<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="account" ng-model="income.account" data-rule="required; length[~100];">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">付款金额<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="amount" ng-model="income.amount" data-rule="required; range[0~9999999]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">付款方式<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <select ui-select2 class="form-control select2" name="pay_way" ng-model="income.pay_way" url="Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="付款方式" data-rule="required;"></select>
                            <span id="payWaySelect2-validator" class="select-validator"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">付款日期<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control date-input" id="date_pay" name="date_pay" ng-model="income.date_pay" data-rule="required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">附件</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" name="attachment_url" ng-model="income.attachment_url" class="form-control" readonly>
                                <span class="input-group-btn">
                                      <div type="button" class="btn btn-info btn-flat" id="btnUpload" >{{btnUploadText}}</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" name="description" ng-model="income.description" data-rule=" length[~100];"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="^">取消</button>
                <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>
