<section class="content-header">
    <h1>
        注册业务
        <small>境外</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a ui-sref="abroad">境外注册业务</a></li>
        <li class="active" ng-bind="current_bread"></li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" id="abroad_form">
        <div class="detail-view-header-wrapper">
            <div class="box-footer detail-view-header" ui-scrollpoint ui-scrollpoint-enabled="true" ui-scrollpoint-class="fixed">
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-info" ng-click="save()">保存</button>
            </div>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">客户基本信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">单号<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="系统自动生成" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">客户名称<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <select ui-select2 class="form-control select2" id="customerSelect2" name="customer_id" ng-view="customer_name" ng-model="data.customer_id" data-formatfields="code,text" data-formatcaptions="档案号,名称" data-rule="required;" url=" Customer/Search" paging="true" style="width: 100%;"></select>
                        <span id="customerSelect2-validator" class="select-validator"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">行业类别</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.industry" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属省</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.province" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属市</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.city" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属县</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.county" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.customer_address" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.contact" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.mobile" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">座机</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.tel" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">注册信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司中文名称<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name_cn" ng-model="data.name_cn"  data-rule="required; length[~100];">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司英文名称<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name_en" ng-model="data.name_en"  data-rule="required; length[~100];">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司成立日期<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control date-input" id="date_setup" name="date_setup" ng-model="data.date_setup"  data-rule="required;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司注册编号<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="reg_no" ng-model="data.reg_no" data-rule="required; length[~100];">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司注册地区<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <select ui-select2 class="form-control select2" name="region" ng-model="data.region" url=" Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="注册地区" ata-rule="required;"></select>
                        <span id="regionSelect2-validator" class="select-validator"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司注册地址<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="address" ng-model="data.address" data-rule="required; length[~300];">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">成交日期<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control date-input" id="date_transaction" name="date_transaction" ng-model="data.date_transaction" data-rule="required;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">成交金额<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="amount_transaction" ng-model="data.amount_transaction" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="required;money;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">币别<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <select ui-select2 class="form-control select2" name="currency" ng-model="data.currency" url=" Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="币别" ata-rule="required;"></select>
                        <span id="currencySelect2-validator" class="select-validator"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司董事</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="director" ng-model="data.director">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否开户</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="is_open_bank" ng-true-value="1"  ng-false-value="0" ng-model="data.is_open_bank">
                    </div>
                </div>
                <div class="form-group" ng-show="data.is_open_bank==1">
                    <label class="col-sm-2 control-label">开户行</label>
                    <div class="col-sm-8">
                        <select class="form-control select2" id="customerBankSelect2" name="bank_id" ng-view="bank_name" ng-model="data.bank_id" style="width: 100%;"></select>
                    </div>
                </div>
                <div class="form-group" ng-show="data.is_open_bank==1">
                    <label class="col-sm-2 control-label">开户人</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.holder" disabled>
                    </div>
                </div>
                <div class="form-group" ng-show="data.is_open_bank==1">
                    <label class="col-sm-2 control-label">银行账号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.account" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">开票信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="invoice_name" ng-model="data.invoice_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">纳税人识别号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="invoice_tax" ng-model="data.invoice_tax">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="invoice_address" ng-model="data.invoice_address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">电话</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="invoice_tel" ng-model="data.invoice_tel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开户行</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="invoice_bank" ng-model="data.invoice_bank">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开户行账号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="invoice_account" ng-model="data.invoice_account">
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">其他信息</h3>
                <div class="box-tools">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">业务员</label>
                    <div class="col-sm-8">
                        <select ui-select2 class="form-control select2" id="salesmanSelect2" name="salesman_id" ng-view="salesman" ng-model="data.salesman_id" data-rule="required;" url=" Member/List" paging="true" style="width: 100%;"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">年检客服<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <select ui-select2 class="form-control select2" id="waiterSelect2" name="waiter_id" ng-view="waiter_name" ng-model="data.waiter_id" data-rule="required;" url=" Member/List" paging="true" style="width: 100%;"></select>
                        <span id="waiterSelect2-validator" class="select-validator"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">经理</label>
                    <div class="col-sm-8">
                        <select ui-select2 class="form-control select2" id="waiterSelect2" name="manager_id" ng-view="manager_name" ng-model="data.manager_id"  url=" Member/List" paging="true" style="width: 100%;"></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
