<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">进度反馈</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="progress_modal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否完成<span class="required">*</span></label>
                        <div class="col-sm-7">
                            <select class="form-control select2" name="is_done" ng-model="progress.is_done" ng-change="doneChange()" data-rule="required;">
                                <option value=""></option>
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span ng-bind="progress.title"></span><span class="required">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="progress" ng-disabled="progress.is_done == 1" ng-model="progress.progress" data-rule="required; length[~50]">
                        </div>
                    </div>
                    <div ng-if="progress.is_done == 1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">完成日期<span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_finish" name="date_finish" ng-model="progress.date_finish" data-rule="required;">
                            </div>
                        </div>
                    </div>

                    <div ng-if="progress.module=='RegAbroad' && progress.is_done == 1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司成立日期<span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_setup" name="date_setup" ng-model="progress.date_setup" data-rule="required;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司注册编号<span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="reg_no" ng-model="progress.reg_no" data-rule="required;length[~100];">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司注册地址<span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="address" ng-model="progress.address" data-rule="required;length[~300];">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否开户</label>
                            <div class="col-sm-7">
                                <input type="checkbox" name="is_open_bank" ng-true-value="1" ng-false-value="0" ng-model="progress.is_open_bank">
                            </div>
                        </div>
                        <div class="form-group" ng-show="progress.is_open_bank==1">
                            <label class="col-sm-3 control-label">开户行</label>
                            <div class="col-sm-7">
                                <select ui-select2 class="form-control select2" id="customerBankSelect2" name="bank_id" ng-view="bank_name" ng-model="progress.bank_id"
                                url="Customer/Banks" paging="false" paramvalue="{{progress.customer_id}}" paramfield="customer_id"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="javascript:;" style="line-height: 34px;" ui-sref=".bank_add({customer_id: {{progress.customer_id}}})" ui-sref-opts="{location:false}" >添加</a>
                            </div>
                        </div>
                        <div class="form-group" ng-show="progress.is_open_bank==1">
                            <label class="col-sm-3 control-label">开户人</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="progress.holder" disabled>
                            </div>
                        </div>
                        <div class="form-group" ng-show="progress.is_open_bank==1">
                            <label class="col-sm-3 control-label">银行账号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="progress.account" disabled>
                            </div>
                        </div>
                    </div>

                    <div ng-if="progress.module=='RegInternal' && progress.is_done == 1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">成立日期<span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_setup" name="date_setup" ng-model="progress.date_setup" data-rule="required;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">统一信用编号<span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="reg_no" ng-model="progress.reg_no" data-rule="required; length[~100];">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">纳税人资格</label>
                            <div class="col-sm-7">
                                <select ui-select2 class="form-control select2" name="taxpayer" ng-model="progress.taxpayer" url="Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="纳税人资格"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否海关备案</label>
                            <div class="col-sm-7">
                                <input type="checkbox" name="is_customs" ng-true-value="1"  ng-false-value="0" ng-model="progress.is_customs">
                            </div>
                        </div>
                        <div class="form-group" ng-show="progress.is_customs==1">
                            <label class="col-sm-3 control-label">备案英文名称</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="customs_name" ng-model="progress.customs_name" data-rule="length[~300];">
                            </div>
                        </div>
                        <div class="form-group" ng-show="progress.is_customs==1">
                            <label class="col-sm-3 control-label">备案英文地址</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="customs_address" ng-model="progress.customs_address" data-rule="length[~300];">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否在我司代理记账</label>
                            <div class="col-sm-7">
                                <input type="checkbox" name="is_bookkeeping" ng-true-value="1"  ng-false-value="0" ng-model="progress.is_bookkeeping">
                            </div>
                        </div>
                        <div class="form-group" ng-show="progress.is_bookkeeping==1">
                            <label class="col-sm-3 control-label">代理记账费用</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="amount_bookkeeping" ng-model="progress.amount_bookkeeping" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="money;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开户行</label>
                            <div class="col-sm-7">
                                <select ui-select2 class="form-control select2" id="customerBankSelect2" name="bank_id" ng-view="bank_name" ng-model="progress.bank_id"
                                url="Customer/Banks" paging="false" paramvalue="{{progress.customer_id}}" paramfield="customer_id"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="javascript:;" style="line-height: 34px;" ui-sref=".bank_add({customer_id: {{progress.customer_id}}})" ui-sref-opts="{location:false}" >添加</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开户人</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="progress.holder" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行账号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="progress.account" disabled>
                            </div>
                        </div>
                    </div>

                    <div ng-if="progress.module=='Trademark' && progress.is_done == 1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">回执时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_receipt" name="date_receipt" ng-model="progress.date_receipt">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">受理时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_accept" name="date_accept" ng-model="progress.date_accept">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">初审时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_trial" name="date_trial" ng-model="progress.date_trial">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">注册时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_regit" name="date_regit" ng-model="progress.date_regit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">续展时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_exten" name="date_exten" ng-model="progress.date_exten">
                            </div>
                        </div>
                    </div>

                    <div ng-if="progress.module=='Patent' && progress.is_done == 1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">受理时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_accept" name="date_accept" ng-model="progress.date_accept">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">授权时间</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control date-input" id="date_empower" name="date_empower" ng-model="progress.date_empower">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="^">取消</button>
                <button type="button" class="btn btn-primary" ng-click="save()">确定</button>
            </div>
        </div>
    </div>
</div>
<div ui-view="bank"></div>
