<div class="modal" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title" ng-bind="module_type == 'p'?'进度反馈':'完善资料'"></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="progress_modal">
          <div ng-if="module_type == 'p' && progress.module != 'Trademark'">
            <div class="form-group">
              <label class="col-sm-3 control-label"><span ng-bind="progress.title"></span><span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="progress" ng-model="progress.progress" data-rule="required; length[~50]">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">预计完成日期<span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_finish" name="date_finish" ng-model="progress.date_finish" data-rule="required;">
              </div>
            </div>
          </div>
          <div ng-if="progress.module=='RegAbroad' && module_type != 'p'">
            <div class="form-group">
              <label class="col-sm-3 control-label">公司成立日期<span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_setup" name="date_setup" ng-model="progress.date_setup" data-rule="required;">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">公司注册编号<span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="reg_no" ng-model="progress.reg_no" data-rule="required;length[~100];">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">公司注册地址<span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="address" ng-model="progress.address" data-rule="required;length[~300];">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">是否开户</label>
              <div class="col-sm-7">
                <input type="checkbox" name="is_open_bank" ng-true-value="1" ng-false-value="0" ng-model="progress.is_open_bank">
              </div>
            </div>
            <div class="form-group" ng-if="progress.is_open_bank==1">
              <label class="col-sm-3 control-label">开户行</label>
              <div class="col-sm-7">
                <select ui-select2 class="form-control select2" id="customerBankSelect2" name="bank_id" ng-view="bank_name" ng-model="progress.bank_id" url="Customer/Banks" paging="false" paramvalue="{{progress.customer_id}}" paramfield="customer_id"></select>
              </div>
              <div class="col-sm-1">
                <a href="javascript:;" style="line-height: 34px;" ui-sref=".bank_add({customer_id: {{progress.customer_id}}})" ui-sref-opts="{location:false}">添加</a>
              </div>
            </div>
            <div class="form-group" ng-show="progress.is_open_bank==1">
              <label class="col-sm-3 control-label">开户人</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="progress.holder" disabled>
              </div>
            </div>
            <div class="form-group" ng-show="progress.is_open_bank==1">
              <label class="col-sm-3 control-label">银行账号</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="progress.account" disabled>
              </div>
            </div>
          </div>
          <div ng-if="progress.module=='RegInternal' && module_type != 'p'">
            <div class="form-group">
              <label class="col-sm-3 control-label">成立日期<span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_setup" name="date_setup" ng-model="progress.date_setup" data-rule="required;">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">统一信用编号<span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="reg_no" ng-model="progress.reg_no" data-rule="required; length[~100];">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">纳税人资格</label>
              <div class="col-sm-7">
                <select ui-select2 class="form-control select2" name="taxpayer" ng-model="progress.taxpayer" url="Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="纳税人资格"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">是否海关备案</label>
              <div class="col-sm-7">
                <input type="checkbox" name="is_customs" ng-true-value="1" ng-false-value="0" ng-model="progress.is_customs">
              </div>
            </div>
            <div class="form-group" ng-show="progress.is_customs==1">
              <label class="col-sm-3 control-label">备案英文名称</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="customs_name" ng-model="progress.customs_name" data-rule="length[~300];">
              </div>
            </div>
            <div class="form-group" ng-show="progress.is_customs==1">
              <label class="col-sm-3 control-label">备案英文地址</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="customs_address" ng-model="progress.customs_address" data-rule="length[~300];">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">是否在我司代理记账</label>
              <div class="col-sm-7">
                <input type="checkbox" name="is_bookkeeping" ng-true-value="1" ng-false-value="0" ng-model="progress.is_bookkeeping">
              </div>
            </div>
            <div class="form-group" ng-show="progress.is_bookkeeping==1">
              <label class="col-sm-3 control-label">代理记账费用</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="amount_bookkeeping" ng-model="progress.amount_bookkeeping" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="money;">
              </div>
            </div>
            <div class="form-group" ng-if="loadModal">
              <label class="col-sm-3 control-label">开户行</label>
              <div class="col-sm-7">
                <select ui-select2 class="form-control select2" id="customerBankSelect2" name="bank_id" ng-view="bank_name" ng-model="progress.bank_id" url="Customer/Banks" paging="false" paramvalue="{{progress.customer_id}}" paramfield="customer_id"></select>
              </div>
              <div class="col-sm-1">
                <a href="javascript:;" style="line-height: 34px;" ui-sref=".bank_add({customer_id: {{progress.customer_id}}})" ui-sref-opts="{location:false}">添加</a>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">开户人</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="progress.holder" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">银行账号</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="progress.account" disabled>
              </div>
            </div>
          </div>
          <div ng-if="progress.module=='Trademark' && module_type == 'p'">
            <div class="form-group">
              <label class="col-sm-3 control-label">回执时间</label>
              <div class="col-sm-3">
                <input type="text" class="form-control date-input" id="date_receipt" name="date_receipt" ng-model="progress.date_receipt">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="receipt_memo" ng-model="progress.receipt_memo" data-rule="length[~60];" placeholder="备注">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">受理时间</label>
              <div class="col-sm-3">
                <input type="text" class="form-control date-input" id="date_accept" name="date_accept" ng-model="progress.date_accept">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="accept_memo" ng-model="progress.accept_memo" data-rule="length[~60];" placeholder="备注">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3">
                <select class="form-control select2" ng-model="progress.trial_type"  style="width: 100%;">
                  <option value="">请选择</option>
                  <option value="初审">初审时间</option>
                  <option value="驳回">驳回时间</option>
                </select>
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control date-input" id="date_trial" ng-disabled="!progress.trial_type" name="date_trial" ng-model="progress.date_trial" placeholder="通过/驳回时间">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="trial_memo" ng-model="progress.trial_memo" data-rule="length[~60];" placeholder="备注">
              </div>
            </div>
            <div class="form-group" ng-show="progress.trial_type == '驳回'">
              <label class="col-sm-3 control-label">异议时间</label>
              <div class="col-sm-3">
                <input type="text" class="form-control date-input" id="date_allege" name="date_allege" ng-model="progress.date_allege">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="allege_memo" ng-model="progress.allege_memo" data-rule="length[~60];" placeholder="备注">
              </div>
            </div>
          </div>
          <div ng-if="progress.module=='Trademark' && module_type != 'p'">
            <div class="form-group">
              <label class="col-sm-3 control-label">注册时间</label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_regit" name="date_regit" ng-model="progress.date_regit">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">注册号</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="regit_no" ng-model="progress.regit_no">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">续展周期</label>
              <div class="col-sm-7">
                <select class="form-control select2" ng-model="progress.exten_period"  style="width: 100%;">
                  <option value="">请选择</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                </select>
              </div>
              <label class="control-label">年</label>
            </div>
          </div>
          <div ng-if="progress.module=='Patent' && module_type != 'p'">
            <div class="form-group">
              <label class="col-sm-3 control-label">受理时间</label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_accept" name="date_accept" ng-model="progress.date_accept">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">授权时间</label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_empower" name="date_empower" ng-model="progress.date_empower">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">注册时间</label>
              <div class="col-sm-7">
                <input type="text" class="form-control date-input" id="date_regit" name="date_regit" ng-model="progress.date_regit">
              </div>
            </div>
          </div>
          <div ng-if="progress.module=='Audit' && module_type == 'p'">
            <div class="form-group">
              <label class="col-sm-3 control-label">会计</label>
              <div class="col-sm-7">
                <select ui-select2 class="form-control select2" id="accountantSelect2" name="accountant_id" allowclear="true" ng-view="accountant_name" ng-model="progress.accountant_id" data-rule="" url="Member/List" paging="true" style="width: 100%;"></select>
                <span id="accountantSelect2-validator" class="select-validator"></span>
              </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="^">取消</button>
          <button type="button" class="btn btn-primary" ng-click="save()">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div ui-view="bank"></div>
