@charset "utf-8";
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/helpers';
@import 'base/bases';
@import 'components/forms';
@import 'components/lists';
@import 'components/select2';
@import 'components/pagination';
@import 'components/invoice';
@import 'components/datetimepicker';
@import 'components/loader-bar';
@import 'components/wysiwyg';
@import 'pages/login';
@import 'pages/income';
.content-header {
  h1 {
    display: none;
  }
}

.exit-line {
  text-decoration: line-through;
  color: #dd4b39;
}

.select2-selection__rendered {
  .n-error {
    display: none!important;
  }
}

.event-tip {
  width: 220px;
  height: auto;
  min-height: 120px;
  .mt-10 {
    margin-top: 10px!important;
  }
  .mb-10 {
    margin-bottom: 10px!important;
    overflow: hidden;
  }
  .column {
    float: left;
    font-weight: bold;
    width: 60px;
    display: inline-block;
  }
  .column-value {
    display: inline-block;
    width: 150px;
    float: left;
    word-break: break-all;
  }
}

.period-color {
  display: inline-block;
  line-height: 22px;
}

.tip-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;

  // border: 1px solid #51B749;
  // background: #51B749;
}

.color-1 {
  width: 12px;
  height: 12px;
  border: 1px solid #51B749;
  background: #51B749;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.color-2 {
  width: 12px;
  height: 12px;
  border: 1px solid #DC2127;
  background: #DC2127;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.color-3 {
  width: 12px;
  height: 12px;
  border: 1px solid #DBADFF;
  background: #DBADFF;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.color-4 {
  width: 12px;
  height: 12px;
  border: 1px solid #5484ED;
  background: #5484ED;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
