<section class="content-header">
    <h1>
        年检预警
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a class="active">列表</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">查询条件</h3>
            <div class="box-tools">
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>客户名称</label>
                        <select ui-select2 class="form-control select2" name="customer_id" ng-model="search.customer_id" url="Customer/Search" paging="true" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>年检客服</label>
                        <select ui-select2 class="form-control select2" name="waiter_id" ng-model="search.waiter_id" url="Member/List" paging="true" style="width: 100%;"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-sm btn-info btn-flat pull-right" ng-click="query()">查询</a>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>客户档案号</th>
                        <th>客户名称</th>
                        <th>订单类型</th>
                        <th>单号</th>
                        <th>名称</th>
                        <th>提交日期</th>
                        <th>完成日期</th>

                        <th class="opt-col">操作</th>
                    </tr>
                    <tr ng-repeat="item in data.items">
                        <td ng-bind="($index+1)+'.'"></td>
                        <td ng-bind="item.customer_code"></td>
                        <td ng-bind="item.customer_name" ng-attr-title="{{item.customer_name}}"></td>
                        <td ng-bind="item.order_type"></td>
                        <td ng-bind="item.order_code"></td>
                        <td ng-bind="item.order_name" ng-attr-title="{{item.order_name}}"></td>
                        <td ng-bind="format(item.submit_review_date, 'YYYY-MM-DD')"></td>
                        <td ng-bind="format(item.date_finish, 'YYYY-MM-DD')"></td>

                        <td class="opt-col">
                            <a class="fa fa-info-circle" ng-click="new_annual()">写年检单</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
