<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">基本信息</h3>
    </div>
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">客户名称<span class="required">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" data-rule="required; length[~100];">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">所在省</label>
                <div class="col-sm-8">
                    <select class="form-control" name="province" ng-model="province" ng-change="changeProvince()" ng-options="province.name for province in provinceList">
                        <option value="">请选择省份</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">所在市</label>
                <div class="col-sm-8">
                    <select class="form-control select2" name="city" ng-model="city" ng-change="changeCity()" ng-options="wcity.name for wcity in province.cityList" style="width: 100%;">
                        <option value="">请选择城市</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">所在县</label>
                <div class="col-sm-8">
                    <select class="form-control select2" name="county" ng-model="county" ng-options="county for county in city.areaList" style="width: 100%;">
                        <option value="">请选择县/区</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">详细地址</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">联系人<span class="required">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="contact" data-rule="required; length[~20];">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">手机<span class="required">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="mobile" data-rule="required; length[~20];">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">座机</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">传真</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">QQ</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">微信</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-default" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-info pull-right" ng-click="save()">保存</button>
        </div>
    </form>
</div>
