<div class="modal fade modal-bundle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^" ng-click="cancelInsertNodes()">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">从课程库中选择</h4>
            </div>
            <div class="modal-body library">
                <div class="library-header clearfix">
                    <div class="pull-left">
                        <select class="form-control" ng-model="params.industry_id" ng-options="item.id as (item.isChild + item.name) for item in industry.items" ng-change="changeIndustry()">
                            <option value="">行业</option>
                        </select>
                    </div>
                    <div class="pull-left">
                        <select class="form-control" ng-model="params.post_id" ng-options="item.id as item.name for item in post.items" ng-change="updateCourses()">
                            <option value="">岗位</option>
                        </select>
                    </div>
                    <div class="pull-left">
                        <select class="form-control" ng-model="params.experience_id" ng-options="item.id as item.name for item in experience.items" ng-change="updateCourses()">
                            <option value="">工作年限</option>
                        </select>
                    </div>
                    <input class="form-control search-control pull-right" type="text" placeholder="课程名称" ng-model="params.name" ng-change="updateCourses()">
                </div>
                <div class="library-body">
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th><input type="checkbox" ng-model="isSelectAll" ng-click="selectAll($event)"></th>
                            <th>课程名称</th>
                            <th>行业</th>
                            <th>岗位</th>
                            <th>工作年限</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in courses.items">
                            <td width="5%">{{$index + 1}}</td>
                            <td width="5%"><input type="checkbox" id="{{item.id}}" name="{{item.name}}"
                                                  ng-checked="isSelected(item.id)"
                                                  ng-click="updateSelection($event,item.id)"></td>
                            <td class="text-left">{{ item.name }}</td>
                            <td>{{ item.industry_name?item.industry_name:'不限' }}</td>
                            <td>{{ item.post_name?item.post_name:'不限' }}</td>
                            <td>{{ item.experience_name?item.experience_name:'不限' }}</td>
                            <td ng-bind="formatDate(item.create_time)"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pager">
                        <ul class="clearfix">
                            <li class="pager-icon pager-first" ng-class="{'disabled':params.index===1}" ng-click="selectPage($event)"></li>
                            <li class="pager-icon pager-pre" ng-class="{'disabled':params.index===1}" ng-click="selectPage($event)"></li>
                            <li class="pager-divide">|</li>
                            <li class="pager-go"><input type="text" ng-model="inputNumber" ng-change="verify()" ng-keyup="goPage($event)">第{{courses.page.current_index}}页 共{{courses.page.total_page}}页</li>
                            <li class="pager-divide">|</li>
                            <li class="pager-icon pager-next" ng-class="{'disabled':params.index===courses.page.total_page}" ng-click="selectPage($event)"></li>
                            <li class="pager-icon pager-last" ng-class="{'disabled':params.index===courses.page.total_page}" ng-click="selectPage($event)"></li>
                        </ul>
                        <div class="pager-total"> 共{{courses.page.total_size}}条</div>
                    </div>
                </div>
                <div class="library-footer">
                    <h4>选中结果（{{count}}）</h4>
                    <div class="result">
                        <span class="label" ng-repeat="selectedTag in selectedTags">
                            {{selectedTag.name}} <a href="" class="delete" ng-click="updateSelected('remove',selectedTag.id,selectedTag.name)">×</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-radius btn-disable" ui-sref="^" ng-click="cancelInsertNodes()">取消</div>
                <div class="btn btn-radius btn-primary" ui-sref="^" ng-click="insertNodes()">确认
                </div>
            </div>
        </div>
    </div>
</div>
