<div class="modal" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">编辑客户资料</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="customer_modal">
          <div class="form-group">
            <label class="col-sm-2 control-label">客户名称</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name" ng-model="customer.name" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">详细地址</label>
            <div class="col-sm-8">
              <select class="form-control" name="province" ng-model="province" ng-change="changeProvince()" ng-options="province.name for province in provinceList" style="width:18%">
                <option value="">请选择省份</option>
              </select>

              <select class="form-control" name="city" ng-model="city" ng-change="changeCity()" ng-options="city.name for city in province.cityList" style="width: 18%;">
                <option value="">请选择城市</option>
              </select>

              <select class="form-control" name="county" ng-model="county" ng-options="county for county in city.areaList" style="width: 18%;">
                <option value="">请选择县/区</option>
              </select>

              <input style="width:44%" type="text" class="form-control" placeholder="详细地址" ng-model="customer.address" data-rule="length[~200];">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">寄件地址</label>
            <div class="col-sm-8">
              <select style="width:18%" class="form-control" name="mailling_province" ng-model="mailling_province" mailling_province-change="changeMailProvince()" ng-options="province.name for province in mailProvinceList">
                <option value="">请选择省份</option>
              </select>

              <select style="width:18%" class="form-control" name="mailling_city" ng-model="mailling_city" ng-change="changeMailCity()" ng-options="city.name for city in mailling_province.cityList" style="width: 100%;">
                <option value="">请选择城市</option>
              </select>

              <select style="width:18%" class="form-control" name="mailling_county" ng-model="mailling_county" ng-options="county for county in mailling_city.areaList" style="width: 100%;">
                <option value="">请选择县/区</option>
              </select>

              <input style="width:44%" type="text" class="form-control" placeholder="详细地址" ng-model="customer.mailling_address" data-rule="length[~200];">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">传真</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="fax" ng-model="customer.fax" data-rule="length[~20];">
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="col-sm-2 control-label">联系人<span class="required">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="contact" ng-model="customer.contact" data-rule="required; length[~30];">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">手机</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="mobile" ng-model="customer.mobile" data-rule="length[~20];">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">座机</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="tel" ng-model="customer.tel" data-rule="length[~20];">
            </div>
          </div> -->

          <!-- <div class="form-group">
            <label class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="email" ng-model="customer.email" data-rule="email;length[~100];">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="QQ" ng-model="customer.QQ" data-rule="qq;length[~100];">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">微信</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="wechat" ng-model="customer.wechat">
            </div>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="^">取消</button>
        <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
      </div>
    </div>
  </div>
</div>
