<section class="content-header">
    <h1>
        角色管理
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
        <li><a class="active">列表</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>名称</th>
                        <th>系统默认</th>
                        <th>备注</th>
                        <th class="opt-col">操作</th>
                    </tr>
                    <tr ng-repeat="item in data">
                        <td ng-bind="($index+1)"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.is_system==1 ? '是' : '否'"></td>
                        <td ng-bind="item.description"></td>
                        <td class="opt-col">
                            <a class="fa fa-pencil green" ui-sref=".edit({id: {{item.id}}})" ui-sref-opts="{location:false}" title="修改"></a>
                            <a href="javascript:;" class="fa fa-trash-o red" title="删除" ng-click="delete(item)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <a ui-sref="role.add" class="btn btn-sm btn-info btn-flat pull-left">新增角色</a>
            <div pagination page-data="data.page" page-click="go(idx)"></div>
        </div>
    </div>
</section>
<div ui-view="add"></div>
