<!DOCTYPE html>
<html ng-app="print_app">

<head>
    <meta charset="UTF-8">
    <title>卓瑞办公</title>
    <style>
    body {
        font-family: $font-family-base;
        font-size: $font-size-base;
    }

    table {
        width: 100%;
        font-size: 10px;
    }

    .print-body td {
        border: 1px solid #333;
        height: 30px;
        padding: 0 10px;
    }

    .print-body tr {
        height: 30px;
    }

    .tal {
        text-align: left;
    }

    .tar {
        text-align: right;
    }

    .tac {
        text-align: center;
    }

    .m label {
        padding-right: 20px;
        font-weight: normal;
    }

    .memo {
        text-align: center;
    }

    .memo div {
        padding: 5px 0;
    }
    </style>
</head>

<body ng-controller="BodyCtrl" ng-class="bodyClass">
    <table style="width:100%;text-align: center;margin-top: 100px;">
        <tr>
            <td rowspan="2" style="width: 20%">
                <img src="./img/logo.jpg" width="40" height="40" alt="">
                <div style="font-size:9px;margin-top:3px;">卓瑞企业</div>
            </td>
            <td style="width: 60%;font-weight:bold;">
                厦门卓瑞企业管理咨询有限公司
            </td>
            <td style="width: 15%;">
            </td>
        </tr>
        <tr>
            <td style="letter-spacing:8px;">
                收款收据
            </td>
            <td>
            </td>
        </tr>
        <tr style="height:30px;">
            <td ng-bind="'档案号:'+printData.code"></td>
            <td ng-bind="printData.date">
            </td>
            <td ng-bind="'项目：'+printData.project">
            </td>
        </tr>
    </table>
    <table style="width:100%;" class="print-body">
        <tr style="height:30px;">
            <td class="tac">公司名称</td>
            <td>
                <table>
                    <tr>
                        <td style="border:none;padding:0; min-width:50%;">
                            <table style="font-size: 9px;">
                                <tr ng-if="printData.company_cn.length > 0">
                                    <td style="border:none; border-right: 1px solid #333; padding:0;height: 15px;" ng-bind="printData.company_cn">
                                    </td>
                                </tr>
                                <tr ng-if="printData.company_en.length > 0">
                                    <td style="border:none; border-right: 1px solid #333; padding:0;height: 15px;" ng-bind="printData.company_en">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="border:none;padding:0;">
                            <span style="margin-left:5px;">付款人：</span>
                            <span ng-bind="printData.payer"></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="tac">备注</td>
        </tr>
        <tr ng-if="printData.print_type != 'patent' && printData.print_type != 'trademark'">
            <td class="tac">收款事由</td>
            <td class="tal" ng-bind="printData.reason"></td>
            <td rowspan="4" class="memo">
                <div>订单总金额</div>
                <div ng-bind="printData.amount"></div>
                <div>若该笔收取，则余</div>
                <div ng-bind="printData.balance"></div>
                <div>
                    附件{{printData.attachments}}张
                </div>
            </td>
        </tr>
        <tr ng-if="printData.print_type == 'trademark'">
            <td class="tac">商标名称</td>
            <td>
                <table>
                    <tr>
                        <td style="border:none; border-right: 1px solid #333; padding:0;" ng-bind="printData.ordername">
                        </td>
                        <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                            商标类别
                        </td>
                        <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;" ng-bind="printData.type">
                        </td>
                        <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                            提交方式
                        </td>
                        <td style="border:none;padding:0; text-align: center;" ng-bind="printData.mode">
                        </td>
                    </tr>
                </table>
            </td>
            <td rowspan="4" class="memo">
                <div>订单总金额</div>
                <div ng-bind="printData.amount"></div>
                <div>若该笔收取，则余</div>
                <div ng-bind="printData.balance"></div>
                <div>
                    附件{{printData.attachments}}张
                </div>
            </td>
        </tr>
        <tr ng-if="printData.print_type == 'patent'">
            <td class="tac">专利名称</td>
            <td>
                <table>
                    <tr>
                        <td style="border:none; border-right: 1px solid #333; padding:0;" ng-bind="printData.ordername">
                        </td>
                        <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                            专利类别
                        </td>
                        <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;" ng-bind="printData.type">
                        </td>
                        <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                            提交方式
                        </td>
                        <td style="border:none;padding:0; text-align: center;" ng-bind="printData.mode">
                        </td>
                    </tr>
                </table>
            </td>
            <td rowspan="4" class="memo">
                <div>订单总金额</div>
                <div ng-bind="printData.amount"></div>
                <div>若该笔收取，则余</div>
                <div ng-bind="printData.balance"></div>
                <div>
                    附件{{printData.attachments}}张
                </div>
            </td>
        </tr>
        <tr style="height:60px;">
            <td class="tac">其他事项</td>
            <td class="tal" ng-bind="printData.others"></td>
        </tr>
        <tr>
            <td class="tac">入账信息</td>
            <td class="tal">
                <span>银行名称+卡号后4位：</span>
                <span ng-bind="printData.pay_info"></span>
            </td>
        </tr>
        <tr>
            <td class="tac">收款方式</td>
            <td class="tal m">
                <label>
                    <input type="checkbox" name="pay_way1" ng-true-value="转账" ng-model="printData.pay_way" onclick="return false"> 转账
                </label>
                <label>
                    <input type="checkbox" name="pay_way2" ng-true-value="现金" ng-model="printData.pay_way" onclick="return false"> 现金
                </label>
                <label>
                    <input type="checkbox" name="pay_way3" ng-true-value="其他方式" ng-model="printData.pay_way" onclick="return false"> 其他方式
                </label>
                <label>
                    <input type="checkbox" name="pay_way4" ng-true-value="先提交,未付款" ng-model="printData.pay_way" onclick="return false"> 先提交未付款
                </label>
            </td>
        </tr>
        <tr>
            <td class="tac">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额</td>
            <td class="tar" ng-bind="currenct2Chinese(printData.received)"></td>
            <td>
                <span>￥</span>
                <span ng-bind="printData.received"></span>
            </td>
        </tr>
    </table>
    <table style="width:100%; margin-top: 5px;">
        <tr>
            <td>
                <span>审核：</span>
                <span ng-bind="printData.auditor"></span>
            </td>
            <td>
                <span>会计：</span>
                <span ng-bind="printData.accounter"></span>
            </td>
            <td>
                <span>出纳：</span>
                <span></span>
            </td>
            <td>
                <span>业务员：</span>
                <span ng-bind="printData.saleman"></span>
            </td>
            <td>
                <span>写票人：</span>
                <span ng-bind="printData.creator"></span>
            </td>
        </tr>
    </table>
</body>

</html>
