<!DOCTYPE html>
<html ng-app="print_app">

<head>
  <meta charset="UTF-8">
  <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>卓瑞办公</title>
  <style>
  body {
    font-family: $font-family-base;
    /*font-size: $font-size-base;*/
  }

  table {
    width: 100%;
    font-size: 14px;
  }

  .print-body td {
    border: 1px solid #333;
    height: 30px;
    padding: 0 10px;
  }

  .print-body tr {
    height: 30px;
  }

  .tal {
    text-align: left;
  }

  .tar {
    text-align: right;
  }

  .tac {
    text-align: center;
  }

  .m label {
    padding-right: 20px;
    font-weight: normal;
  }

  .memo {
    text-align: center;
  }

  .memo div {
    padding: 5px 0;
  }

  .tt {
    position: relative;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
  }

  .tt:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 22px;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
  }
  </style>
</head>

<body ng-controller="BodyCtrl" ng-class="bodyClass">
  <div ng-if="printType !='receipt' && printType !='address'">
    <table style="width:100%;text-align: center;margin-top: 45px;">
      <tr>
        <td rowspan="2" style="width: 20%">
          <img src="./img/logo.jpg" width="40" height="40" alt="">
          <div style="font-size:9px;margin-top:3px;">卓瑞企业</div>
        </td>
        <td style="font-size:16px;width: 60%;font-weight:bold;">
          厦门卓瑞企业管理咨询有限公司
        </td>
        <td style="width: 15%;">
        </td>
      </tr>
      <tr>
        <td style="font-size:14px;letter-spacing:8px;">
          收款收据
        </td>
        <td>
        </td>
      </tr>
      <tr style="height:30px;">
        <td ng-bind="'档案号:'+printData.code"></td>
        <td ng-bind="printData.date">
        </td>
        <td ng-bind="'项目：'+printData.project">
        </td>
      </tr>
    </table>
    <table style="width:100%;" class="print-body">
      <tr style="height:30px;">
        <td class="tac" style="width:100px;">公司名称</td>
        <td>
          <table>
            <tr>
              <td style="border:none;padding:0; min-width:50%;">
                <table style="font-size: 9px;">
                  <tr ng-if="printData.company_cn.length > 0">
                    <td style="border:none; border-right: 1px solid #333; padding:0;height: 15px;" ng-bind="printData.company_cn">
                    </td>
                  </tr>
                  <tr ng-if="printData.company_en.length > 0">
                    <td style="border:none; border-right: 1px solid #333; padding:0;height: 15px;" ng-bind="printData.company_en">
                    </td>
                  </tr>
                </table>
              </td>
              <td style="border:none;padding:0;">
                <span style="margin-left:5px;">付款人：</span>
                <span ng-bind="printData.payer"></span>
              </td>
            </tr>
          </table>
        </td>
        <td class="tac" style="width:110px;">备注</td>
      </tr>
      <tr ng-if="printData.print_type != 'patent' && printData.print_type != 'trademark'">
        <td class="tac">收款事由</td>
        <td class="tal" ng-bind="printData.reason"></td>
        <td rowspan="4" class="memo">
          <div>订单总金额</div>
          <div ng-bind="printData.amount"></div>
          <div>若该笔收取，则余</div>
          <div ng-bind="printData.balance"></div>
          <div>
            附件{{printData.attachments}}张
          </div>
        </td>
      </tr>
      <tr ng-if="printData.print_type == 'trademark'">
        <td class="tac">商标名称</td>
        <td>
          <table>
            <tr>
              <td style="border:none; border-right: 1px solid #333; padding:0;" ng-bind="printData.ordername">
              </td>
              <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                商标类别
              </td>
              <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;" ng-bind="printData.type">
              </td>
              <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                提交方式
              </td>
              <td style="border:none;padding:0; text-align: center;" ng-bind="printData.mode">
              </td>
            </tr>
          </table>
        </td>
        <td rowspan="4" class="memo">
          <div>订单总金额</div>
          <div ng-bind="printData.amount"></div>
          <div>若该笔收取，则余</div>
          <div ng-bind="printData.balance"></div>
          <div>
            附件{{printData.attachments}}张
          </div>
        </td>
      </tr>
      <tr ng-if="printData.print_type == 'patent'">
        <td class="tac">专利名称</td>
        <td>
          <table>
            <tr>
              <td style="border:none; border-right: 1px solid #333; padding:0;" ng-bind="printData.ordername">
              </td>
              <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                专利类别
              </td>
              <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;" ng-bind="printData.type">
              </td>
              <td style="border:none; border-right: 1px solid #333; padding:0; text-align: center;">
                提交方式
              </td>
              <td style="border:none;padding:0; text-align: center;" ng-bind="printData.mode">
              </td>
            </tr>
          </table>
        </td>
        <td rowspan="4" class="memo">
          <div>订单总金额</div>
          <div ng-bind="printData.amount"></div>
          <div>若该笔收取，则余</div>
          <div ng-bind="printData.balance"></div>
          <div>
            附件{{printData.attachments}}张
          </div>
        </td>
      </tr>
      <tr style="height:60px;">
        <td class="tac">其他事项</td>
        <td class="tal" ng-bind="getOthers(printData)"></td>
      </tr>
      <tr>
        <td class="tac">入账信息</td>
        <td class="tal">
          <!-- <span>银行名称+卡号后4位：</span> -->
          <span ng-bind="printData.pay_info"></span>
        </td>
      </tr>
      <tr>
        <td class="tac">收款方式</td>
        <td class="tal m">
          <label>
            <input type="checkbox" name="pay_way1" ng-true-value="转账" ng-model="printData.pay_way" onclick="return false"> 转账
          </label>
          <label>
            <input type="checkbox" name="pay_way2" ng-true-value="现金" ng-model="printData.pay_way" onclick="return false"> 现金
          </label>
          <label>
            <input type="checkbox" name="pay_way3" ng-true-value="其他方式" ng-model="printData.pay_way" onclick="return false"> 其他方式
          </label>
          <label>
            <input type="checkbox" name="pay_way4" ng-true-value="先提交,未付款" ng-model="printData.pay_way" onclick="return false"> 先提交未付款
          </label>
        </td>
      </tr>
      <tr>
        <td class="tac">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额</td>
        <td class="tar" ng-bind="currenct2Chinese(printData.received)"></td>
        <td>
          <span>￥</span>
          <span ng-bind="printData.received"></span>
        </td>
      </tr>
    </table>
    <table style="width:100%; margin-top: 5px;" ng-show="false">
      <tr>
        <td style="width: 16.66%">
          <span>审核：</span>
          <span></span>
        </td>
        <td style="width: 16.66%">
          <span>财务主管：</span>
          <span></span>
        </td>
        <td style="width: 16.66%">
          <span>会计：</span>
          <span ng-bind="printData.accounter"></span>
        </td>
        <td style="width: 16.66%">
          <span>出纳：</span>
          <span ng-bind="printData.cashier"></span>
        </td>
        <td style="width: 16.66%">
          <span>业务员：</span>
          <span ng-bind="printData.saleman"></span>
        </td>
        <td style="width: 16.66%">
          <span>写票人：</span>
          <span ng-bind="printData.creator"></span>
        </td>
      </tr>
    </table>

    <table style="width:100%; margin-top: 5px; font-size: 10px;" >
      <tr>
        <td style="width: 25%; font-size: 10px;">
          <span>总经理：</span>
          <span></span>
        </td>
        <td style="width: 25%; font-size: 10px">
          <span>财务主管：</span>
          <span></span>
        </td>
        <td style="width: 25%; font-size: 10px">
          <span>出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纳：</span>
          <span ng-bind="printData.cashier"></span>
        </td>
        <td style="width: 25%; font-size: 10px">
          <span>订单审核：</span>
          <span ng-bind="printData.accounter"></span>
        </td>
      </tr>
      <tr>
        <td style="width: 50%; font-size: 10px;" colspan="2">
          <span>渠道商：</span>
          <span ng-bind="printData.trader"></span>
        </td>
        <td style="width: 25%; font-size: 10px;">
          <span>客户归属：</span>
          <span ng-bind="printData.saleman"></span>
        </td>
        <td style="width: 25%; font-size: 10px;">
          <span ng-bind="model=='annual' ? '订单提交：' : '订单归属：'"></span>
          <span ng-bind="printData.creator"></span>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="printType =='receipt'">
    <table style="width:100%;text-align: center;margin-top: 0;">
      <tr>
        <td rowspan="3" style="width: 20%">
          <img src="./img/logo2.jpg" width="40" alt="">
        </td>
        <td style="font-size:18px;width: 60%;font-weight:bold;">
          卓瑞企业咨询
        </td>
        <td style="width: 22%;">
        </td>
      </tr>
      <tr>
        <td style="font-size:16px;">
          <span class="tt">收 款 收 据</span>
        </td>
        <td>
          <span style="margin-right: 5px;">NO：</span>
          <span style="margin-right: 2px;" ng-bind="printData.no"></span>
        </td>
      </tr>
      <tr style="height:30px;font-size:10px;">
        <td ng-bind="printData.date">
        </td>
      </tr>
    </table>
    <div style="overflow: hidden;font-size:10px;">
      <div style="border: 1px solid #333; padding-top: 5px;width:95%;float: left;">
        <table style="width:100%;" class="print-body">
          <tr>
            <td style="border:none;">
              <span style="display: inline-block; width: 45px;">今收到</span>
              <span ng-bind="printData.customer_name" style="display: inline-block; border:none;border-bottom: 1px solid #333; min-width: 90%;"></span>
            </td>
          </tr>
          <tr>
            <td style="border:none;">
              <span style="display: inline-block; letter-spacing:6px; width: 45px;">交来</span>
              <span ng-bind="printData.memo" style="display: inline-block; border:none;border-bottom: 1px solid #333; min-width: 90%;"></span>
            </td>
          </tr>
          <tr>
            <td style="border:none;">
              <span style="display: inline-block; width: 80px;">人民币(大写)</span>
              <span ng-bind="currenct2Chinese(printData.received)" style="display: inline-block; border:none;border-bottom: 1px solid #333; min-width: 80%;"></span>
            </td>
          </tr>
          <tr style="height: 75px;">
            <td style="border:none;padding: 0;">
              <table>
                <tr>
                  <td style="border:none; width: 50%;">
                    <div>收款单位</div>
                    <div style="padding-left: 8px;">(公章)</div>
                  </td>
                  <td style="border:none; width: 25%;">
                    <span>￥</span>
                    <span ng-bind="(printData.received).toFixed(2)"></span>
                  </td>
                  <td style="border:none; width: 25%;">
                    <span>付款方式：</span>
                    <span ng-bind="printData.pay_way"></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div style="float: left;margin-left: 3px;text-align:center; width: 15px; font-size: 12px!important;">
        <span style="display: inline-block;margin-top: 7px;">①存根</span>
        <span style="display: inline-block;margin-top: 5px;margin-bottom: 10px;">白</span>
        <span style="display: inline-block;">②客户</span>
        <span style="display: inline-block;margin-top: 5px;">红</span>
      </div>
    </div>
    <table style="width:100%; margin-top: 0;">
      <tr>
        <td style="width: 20%">
          <span>总经理：</span>
          <span></span>
        </td>
        <td style="width: 20%">
          <span>财务主管：</span>
          <span></span>
        </td>
        <td style="width: 20%">
          <span>会计：</span>
          <span ng-bind="printData.creator"></span>
        </td>
        <td style="width: 20%">
          <span>出纳：</span>
          <span ng-bind="printData.finance_reviewer"></span>
        </td>
        <td style="width: 20%">
          <span>经办人员：</span>
          <span ng-bind="printData.saleman"></span>
        </td>
      </tr>
    </table>
  </div>

  <div ng-if="printType =='address'">
    <table style="width:100%; margin-top: 5px; font-size: 18px;">
      <tr>
        <td>
          <span>收件人：</span>
        </td>
        <td>
          <span ng-bind="mail.receiver"></span>
        </td>
      </tr>
      <tr>
        <td>
          <span>联系电话：</span>
        </td>
        <td>
          <span ng-bind="mail.tel"></span>
        </td>
      </tr>
      <tr>
        <td>
          <span>收件地址：</span>
        </td>
        <td>
          <span ng-bind="mail.province +'' +mail.city +'' +mail.county +'' +mail.address"></span>
        </td>
      </tr>
    </table>

  </div>
</body>

</html>
