<section class="content-header">
  <h1>
        专利业务
    </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>我的面板</a></li>
    <li><a ui-sref="patent">专利业务</a></li>
    <li class="active" ng-bind="current_bread"></li>
  </ol>
</section>
<section class="content">
  <form class="form-horizontal" id="patent_form">
    <div class="detail-view-header-wrapper">
      <div class="box-footer detail-view-header" ui-scrollpoint ui-scrollpoint-enabled="true" ui-scrollpoint-class="fixed">
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-info" ng-click="save()">保存</button>
      </div>
    </div>
    <div class="box box-danger" ng-if="action=='add'">
      <div class="box-header with-border">
        <h3 class="box-title">旧数据迁移</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">是否为旧订单<span class="required">*</span></label>
          <div class="col-sm-8">
            <select class="form-control select2" name="is_old" ng-model="data.is_old" data-rule="required;">
              <option value="">请选择</option>
              <option value="1">旧数据迁移</option>
              <option value="0">新订单</option>
            </select>
          </div>
        </div>
        <div ng-if="data.is_old == 1">
          <div class="form-group">
            <label class="col-sm-2 control-label">订单完成日期</label>
            <div class="col-sm-8">
              <input type="text" class="form-control date-input" id="date_finish" name="date_finish" ng-model="data.date_finish">
            </div>
          </div>
        </div>
        <div class="form-group" ng-if="data.is_old == 1">
          <label class="col-sm-2 control-label">本年度是否已年检<span class="required">*</span></label>
          <div class="col-sm-8">
            <select class="form-control select2" name="is_already_annual" ng-model="data.is_already_annual" data-rule="required;">
              <option value="">请选择</option>
              <option value="1">已年检</option>
              <option value="0">未年检</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">字段说明</label>
          <div class="col-sm-8">
            <p style="line-height: 34px;">
              <span style="color: #217f50; font-weight: bold;">是否为旧订单:</span> 旧的订单数据迁移到该系统时，请选择“旧数据迁移”，旧数据迁移不走审核数据。录入完成后即属于完成的订单
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">客户基本信息</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">客户名称<span class="required">*</span></label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="customerSelect2" name="customer_id" ng-view="customer_name" ng-model="data.customer_id" data-formatfields="code,text" data-formatcaptions="编号,名称" data-rule="required;" url=" Customer/Search" paging="true" style="width: 100%;"></select>
            <span id="customerSelect2-validator" class="select-validator"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">行业类别</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.industry" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">所属省</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.province" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">所属市</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.city" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">所属县</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.county" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">地址</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.customer_address" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">联系人</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.contact" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">手机</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.mobile" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">座机</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.tel" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">注册信息</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">订单类别<span class="required">*</span></label>
          <div class="col-sm-8">
            <select class="form-control select2" name="type" ng-model="data.type" data-rule="required;">
              <option value="">请选择</option>
              <option value="境内">境内</option>
              <option value="境外">境外</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-if="data.is_old != 1">
          <label class="col-sm-2 control-label">档案号<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="系统自动生成" readonly>
          </div>
        </div>
        <div class="form-group" ng-if="data.is_old == 1">
          <label class="col-sm-2 control-label">档案号<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="data.code" data-rule="required;">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">专利名称<span class="required">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="name" ng-model="data.name" data-rule="required; length[~100];">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">申请人</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="applicant" ng-model="data.applicant" data-rule="length[~50];">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">申请人地址</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="address" ng-model="data.address" data-rule="length[~300];">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">申请人证件号码</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="card_no" ng-model="data.card_no" data-rule="length[~100];">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">专利设计人</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="designer" ng-model="data.designer" data-rule="length[~50];">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">专利类型</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" name="patent_type" ng-model="data.patent_type" url=" Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="专利类型" data-rule=""></select>
            <span id="patentTypeSelect2-validator" class="select-validator"></span>
          </div>
          <div class="col-sm-2 add-dictionary">
            <a class="fa fa-plus" ui-sref=".dictionary({group: '专利类型'})" ui-sref-opts="{location:false}" title="新增专利类型"></a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">专利用途</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" name="patent_purpose" ng-model="data.patent_purpose" url=" Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="专利用途" data-rule=""></select>
            <span id="patentPurposeSelect2-validator" class="select-validator"></span>
          </div>
          <div class="col-sm-2 add-dictionary">
            <a class="fa fa-plus" ui-sref=".dictionary({group: '专利用途'})" ui-sref-opts="{location:false}" title="新增专利用途"></a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">注册方式</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" name="reg_mode" ng-model="data.reg_mode" url=" Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="专利注册方式" data-rule=""></select>
            <span id="regModeSelect2-validator" class="select-validator"></span>
          </div>
          <div class="col-sm-2 add-dictionary">
            <a class="fa fa-plus" ui-sref=".dictionary({group: '专利注册方式'})" ui-sref-opts="{location:false}" title="新增专利注册方式"></a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">成交日期</label>
          <div class="col-sm-8">
            <input type="text" class="form-control date-input" id="date_transaction" name="date_transaction" ng-model="data.date_transaction" data-rule="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">成交金额</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="amount_transaction" ng-model="data.amount_transaction" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="money;">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">交易币别</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="currencySelect2" name="currency" ng-model="data.currency" url="Dictionary/DroplistByGroup" paging="false" paramfield="group" paramvalue="币别" data-rule=""></select>
            <span id="currencySelect2-validator" class="select-validator"></span>
          </div>
          <div class="col-sm-2 add-dictionary">
            <a class="fa fa-plus" ui-sref=".dictionary({group: '币别'})" ui-sref-opts="{location:false}" title="新增币别"></a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">汇率</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="rate" ng-model="data.rate" data-rule-money="[/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/, '请填写2位数的数值']" data-rule="money;">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">年检时间</label>
          <div class="col-sm-8">
            <input type="text" class="form-control date-input" id="date_inspection" name="date_inspection" ng-model="data.date_inspection">
          </div>
        </div>
      </div>
    </div>
    <div ng-if="data.is_old == 1 || data.is_annual == 1">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">注册进度</h3>
          <div class="box-tools">
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="box-body">
          <!-- <div class="form-group">
                        <label class="col-sm-2 control-label">专利进度</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="progress" ng-model="data.progress" disabled>
                        </div>
                    </div> -->
          <div class="form-group">
            <label class="col-sm-2 control-label">受理时间</label>
            <div class="col-sm-8">
              <input type="text" class="form-control date-input" id="date_accept" name="date_accept" ng-model="data.date_accept">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">授权时间</label>
            <div class="col-sm-8">
              <input type="text" class="form-control date-input" id="date_empower" name="date_empower" ng-model="data.date_empower">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">注册时间</label>
            <div class="col-sm-8">
              <input type="text" class="form-control date-input" id="date_regit" name="date_regit" ng-model="data.date_regit">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">其他信息</h3>
        <div class="box-tools">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">业务员<span class="required">*</span></label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="salesmanSelect2" name="salesman_id" ng-view="salesman" ng-model="data.salesman_id" data-rule="required;" url=" Member/List" paging="true" style="width: 100%;"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">助理</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="assistantSelect2" name="assistant_id" ng-view="assistant_name" ng-model="data.assistant_id" url=" Member/List" paging="true" style="width: 100%;"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">年检客服<span class="required">*</span></label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="waiterSelect2" name="waiter_id" ng-view="waiter_name" ng-model="data.waiter_id" data-rule="required;" url=" Member/List" paging="true" style="width: 100%;"></select>
            <span id="waiterSelect2-validator" class="select-validator"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">经理</label>
          <div class="col-sm-8">
            <select ui-select2 class="form-control select2" id="waiterSelect2" name="manager_id" ng-view="manager_name" ng-model="data.manager_id" url=" Member/List" paging="true" style="width: 100%;"></select>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<div ui-view="modal"></div>
