<div class="modal" style="display: block;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">进度反馈</h4>
            </div>
            <div class="modal-body" id="section-to-print">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4">
                        </label>
                        <label class="col-sm-4">
                            厦门卓瑞企业管理咨询有限公司
                        </label>
                        <label class="col-sm-4">
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4">
                        </label>
                        <label class="col-sm-4" style="text-align:center;">
                            收款收据
                        </label>
                        <label class="col-sm-4">
                        </label>
                    </div>

                    <div class="form-group">
                        <span class="col-sm-4">
                            档案号: XMGS000001
                        </span>
                        <span class="col-sm-4">
                            2016年8月12日
                        </span>
                        <span class="col-sm-4">
                            项目：厦门年报
                        </span>
                    </div>

                </form>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="print()">打印</button>
            </div>
        </div>
    </div>
</div>

