<div class="modal" style="display: block;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">进度反馈</h4>
            </div>
            <div class="modal-body" id="section-to-print">
                <table>
                    <tr class="header">
                        <td rowspan="2" class="td-1">
                            <img src="../../../img/logo.jpg" width="30" height="30" alt="">
                        </td>
                        <td class="td-2 company">
                            厦门卓瑞企业管理咨询有限公司
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr class="header">
                        <td class="sub">
                            收款收据
                        </td>
                        <td class="td-3">
                        </td>
                    </tr>
                </table>
                <table style="margin-top: 10px;">
                    <tr class="header">
                        <td  class="td-1">档案号: XMGS000001</td>
                        <td class="td-2">
                            2016年8月12日
                        </td>
                        <td class="td-3">
                            项目：厦门年报
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>

                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="print()">打印</button>
            </div>
        </div>
    </div>
</div>

