<div class="modal" style="display: block;" >
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="^">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">进度反馈</h4>
            </div>
            <div class="modal-body" id="section-to-print">
                <table style="width:100%;text-align: center;">
                    <tr>
                        <td rowspan="2" style="width: 10%">
                            <img src="../../../img/logo.jpg" width="30" height="30" alt="">
                        </td>
                        <td style="width: 80%">
                            厦门卓瑞企业管理咨询有限公司
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 80%">
                            收款收据
                        </td>
                        <td style="width: 10%">

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="print()">打印</button>
            </div>
        </div>
    </div>
</div>

